extends ../layout
block title
    title 武藏外語教育中心
block style
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500')
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/assets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/css/form-elements.css')
    link(rel='stylesheet', href='/assets/css/style.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // Favicon and touch icons
    link(rel='shortcut icon', href='/assets/ico/favicon.png')

    style.
        * 
        {
            font-family: Microsoft JhengHei;

        }


block script
   
    // jQuery library
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
    // Latest compiled JavaScript
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js", integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D", crossorigin="anonymous")
    //script(src='/assets/js/jquery-1.11.1.min.js')
    //script(src='/assets/bootstrap/js/bootstrap.min.js')
    script(src='/assets/js/jquery.backstretch.min.js')
    script(src='/assets/js/scripts.js')
    script.

block content
    .top-content
        .inner-bg
            .container
                .row
                    .col-sm-8.col-sm-offset-2.text
                        h1
                            strong 武藏外語機器人後台
                            |  管理員註冊
                .row
                    .col-sm-6.col-sm-offset-3.form-box
                        .form-top
                            .form-top-left
                                h3 後台管理
                                p 請輸入帳號密碼:
                            .form-top-right
                                i.fa.fa-lock
                        .form-bottom
                            form.login-form(role='form', action='/admin/signup', method='post')
                                .form-group
                                    label.sr-only(for='form-name') Your Name
                                    input#form-password.form-password.form-control(type='text', name='name', placeholder='Name...')
                                .form-group
                                    label.sr-only(for='form-username' ) 帳號
                                    input#form-username.form-username.form-control(type='text', name="username", placeholder='帳號...')
                                .form-group
                                    label.sr-only(for='form-password') 密碼
                                    input#form-password.form-password.form-control(type='password', name='password', placeholder='密碼...')
                                button.btn(type='submit') 登入
