extends ../layout
block title
    title 武藏外語教育中心
block style
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/styles.css')
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    style.
        * 
        {
            font-family: Microsoft JhengHei;
        }
        body {
            background: #6874E8;
        }
        #courseContent{
            margin: 0 auto;
        }
block script
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    
    script.
        (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));

        function eng_free_trial_Submit() {
            //alert("The form was submitted");
                MessengerExtensions.requestCloseBrowser(
                    function success() {
                        var date = document.getElementById("eng_free_trial_type").value;
                    },
                    function error(err) {
                    }

                );
        }
        window.extAsyncInit = function() {
            //alert("js sdk finished loading");
            MessengerExtensions.getContext('327862871063543', 
            function success(thread_context){
                //alert("Success: "+thread_context.psid);
                document.getElementById('fb_psid').value = thread_context.psid;
            },
            function error(err){
                //alert("Error: " + JSON.stringify(err));
            }
            );
        };
block content
    .container
        form(method="POST", action="/trial/eng" onsubmit="eng_free_trial_Submit()")
       
            input(name="fb_psid" type="hidden" id="fb_psid" value="")
            input(name="lang_type" type="hidden" id="lang_type" value="英語")
            ul.flex-outer
                li
                    label 請問您想報名的課程類別是?
                    select(name='level' required='required' onchange="typeCheck(this);")
                        option(value='' hidden)
                        option(value='全民英檢(GEPT)') 全民英檢(GEPT)
                        option(value='多益(TOEIC)') 多益(TOEIC)
                        option(value='英語基礎養成(ESL)') 英語基礎養成(ESL)
                        option(value='托福 (TOEFL)') 托福 (TOEFL)
                        option(value='雅思(IELTS)') 雅思(IELTS)	
                li
                    label 請問您的姓名是(真實姓名,以利課程進行)？
                    input( name="name" type='text', placeholder='請輸入姓名', maxlength='8', required='required')
                li
                    label 請問您的電話是？
                    input( name="phone" type='number', placeholder='請輸入電話', maxlength='12', required='required')
                li
                    label 請問您的Line是？
                    input( name="lineID" type='text', placeholder='請輸入Line ID', maxlength='20', required='required')
                li
                    input#submit(type='submit', value='送出')