doctype html
html
    head    
        block title
        link(rel='shortcut icon', href='/assets/ico/favicon.png')
        block style 
        
        
    body
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        block script
        block content


