extends L1_layout_eng
block title
    title OoPs English
    title #{title}
block style


block content

        #wrapper.clearfix
            // Start main-content
            .main-content
                // Section: home
                section#home.divider.no-bg.layer-overlay.overlay-dark-light(data-bg-img='../images/jp-index/main/recent-act/background1920x1280.jpg')
                    .bg-video
                        #home-video.video
                            .player.video-container(data-property="{videoURL:'pW1uVUg5wXM',containment:'#home-video',autoPlay:true, showControls:false, mute:true, startAt:0, opacity:1}")
                    .display-table
                        .display-table-cell
                            .container.pt-200.pb-200
                                .row
                                    .col-md-12.text-center
                                        h2.text-white.text-uppercase.font-60.font-weight-700.mb-0
                                            | 歡迎加入 
                                            span.text-theme-color-2 Oops Family
                                        p.font-16.text-white
                                            | 我們提供日語.韓語.英語教學
                                            br
                                            |  日韓美加留學看這裡
                                        a.btn.btn-colored.bg-theme-colored-angel-3.btn-flat.mt-15(href='https://www.facebook.com/ilovemusashi/') 了解更多
                // Section: home-boxes
                section.bg-silver-light
                    .container.pt-0.pb-0
                        .section-content
                            .row.equal-height-inner.home-boxes(data-margin-top='-100px')
                                .col-sm-12.col-md-3.pl-0.pl-sm-15.pr-0.pr-sm-15.sm-height-auto.mt-sm-0.wow.fadeInLeft.animation-delay1
                                    .sm-height-auto.bg-theme-colored-angel-1
                                        .text-center.pt-30.pb-30
                                            a.fa.fa-location-arrow.text-white.font-64(href='https://goo.gl/maps/2k3fPeBd2pq')
                                            h4.text-uppercase.mt-20
                                                a.text-white(href='https://goo.gl/maps/2k3fPeBd2pq') 如何前往
                                .col-sm-12.col-md-3.pl-0.pl-sm-15.pr-0.pr-sm-15.sm-height-auto.mt-sm-0.wow.fadeInLeft.animation-delay2
                                    .sm-height-auto.bg-theme-colored-angel-2
                                        .text-center.pt-30.pb-30
                                            a.fa.fa-comments.text-white.font-64(href='https://line.me/R/ti/p/%40xat.0000116750.rxi')
                                            h4.text-uppercase.mt-20
                                                a.text-white(href='https://line.me/R/ti/p/%40xat.0000116750.rxi') LINE US: jojolady2266
                                .col-sm-12.col-md-3.pl-0.pl-sm-15.pr-0.pr-sm-15.sm-height-auto.mt-sm-0.wow.fadeInLeft.animation-delay3
                                    .sm-height-auto.bg-theme-colored-angel-3
                                        .text-center.pt-30.pb-30
                                            i.fa.fa-clock-o.text-white.font-64
                                            h4.text-uppercase.mt-20
                                                .text-white
                                                    | 營業時間
                                                    br
                                                    | 一 ~ 五 13:00~22:00
                                                    br
                                                    | 六日10:00~17:00
                                .col-sm-12.col-md-3.pl-0.pl-sm-15.pr-0.pr-sm-15.sm-height-auto.mt-sm-0.wow.fadeInLeft.animation-delay4
                                    .sm-height-auto.bg-theme-colored-angel-4
                                        .text-center.pt-30.pb-30
                                            a.fa.fa-mobile.text-white.font-64(href='tel:+886422211568')
                                            h4.text-uppercase.mt-20
                                                a.text-white(href='tel:+886422211568')
                                                    | 來電洽詢
                                                    br
                                                    | (+886) 4-2221-1568
                // Section: About
                section#about
                    .container.pb-70
                        .section-content
                            .row
                                .col-md-8.col-sm-12.wow.fadeInRight(data-wow-duration='1s', data-wow-delay='0.3s')
                                    h2.text-uppercase.mt-0
                                        | 歡迎加入 
                                        span.text-theme-color-2   Oops Family 
                                    p.lead 在這裡我們提供完善的日語教學。更針對未來打算要出國的同學，提供海外長短期留遊學諮詢。
                                    .row.mt-40
                                        .col-md-6.wow.fadeInUp(data-wow-duration='1s')
                                            .mb-sm-30
                                                img.img-fullwidth(src='../images/jp-index/main/jp-intensive360x210.jpg', alt='')
                                                h4.letter-space-1.mt-10
                                                    | Oops
                                                    span.text-theme-color-2  日語課程
                                                p 陪你一起快樂輕鬆學
                                                a.btn.btn-sm.bg-theme-colored-angel-3(href='#') 了解更多
                                        .col-md-6.wow.fadeInUp(data-wow-duration='1.2s')
                                            .mb-sm-30
                                                img.img-fullwidth(src='../images/jp-index/main/study-abroad360x210.jpg', alt='')
                                                //img.img-fullwidth(src='https://placehold.it/360x210', alt='')
                                                h4.letter-space-1.mt-10
                                                    | Oops日本
                                                    span.text-theme-color-2  長短期留遊學免費諮詢
                                                p 量身打造專屬您的長短期課程，青春不留白加值100%
                                                a.btn.btn-sm.bg-theme-colored-angel-3(href='#') 了解更多
                                .col-md-4.col-sm-12.wow.fadeInLeft(data-wow-duration='1s', data-wow-delay='0.3s')
                                    .p-30.bg-theme-colored-angel-3
                                        h3.text-white.mt-0.mb-10 聯絡我們
                                        // Appilication Form Start
                                        form#reservation_form.reservation-form.mt-20(name='reservation_form', method='post', action='includes/reservation.php')
                                            .row
                                                .col-sm-12
                                                    .form-group.mb-20
                                                        input#reservation_name.form-control(placeholder='請輸入姓名', type='text', name='reservation_name', required='')
                                                .col-sm-6
                                                    .form-group.mb-20
                                                        input#reservation_email.form-control(placeholder='請輸入Email', type='text', name='reservation_email', required='')
                                                .col-sm-6
                                                    .form-group.mb-20
                                                        input#reservation_phone.form-control(placeholder='請輸入電話', type='text', name='reservation_phone', required='')
                                                .col-sm-6
                                                    .form-group.mb-20
                                                        .styled-select
                                                            select#person_select.form-control(name='person_select', required='')
                                                                option(value='') 請選擇服務
                                                                option(value='1 Person') 日語課程
                                                                option(value='2 Person') 韓語課程
                                                                option(value='3 Person') 美語課程
                                                                option(value='Family Pack') 留遊學代辦
                                                .col-sm-6
                                                    .form-group.mb-20
                                                        input.form-control.required.date-picker(name='Date', type='text', placeholder='預計上課/出發日', aria-required='true')
                                                .col-sm-12
                                                    .form-group
                                                        textarea#form_message.form-control.required(placeholder='諮詢內容', rows='3', name='form_message', aria-required='true')
                                                .col-sm-12
                                                    .form-group.mb-0.mt-10
                                                        input.form-control(name='form_botcheck', type='hidden', value='')
                                                        button.btn.btn-colored.btn-default.text-black.btn-lg.btn-block(type='submit', data-loading-text='請稍候...') 送出
                                        // Application Form End
                                        // Application Form Validation Start
                                        script(type='text/javascript').
                                            $("#reservation_form").validate({
                                            submitHandler: function(form) {
                                            var form_btn = $(form).find('button[type="submit"]');
                                            var form_result_div = '#form-result';
                                            $(form_result_div).remove();
                                            form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                                            var form_btn_old_msg = form_btn.html();
                                            form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                                            $(form).ajaxSubmit({
                                            dataType:  'json',
                                            success: function(data) {
                                            if( data.status == 'true' ) {
                                            $(form).find('.form-control').val('');
                                            }
                                            form_btn.prop('disabled', false).html(form_btn_old_msg);
                                            $(form_result_div).html(data.message).fadeIn('slow');
                                            setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                                            }
                                            });
                                            }
                                            });
                                        // Application Form Validation Start
                // Section: Mission
                section#mission
                    .container-fluid.pt-0.pb-0
                        .row.equal-height
                            .col-sm-6.col-md-6.xs-pull-none.bg-theme-colored-angel-2.wow.fadeInLeft(data-wow-duration='1s', data-wow-delay='0.3s')
                                .pt-60.pb-40.pl-90.pr-160.p-md-30
                                    h2.title.text-white.text-uppercase.line-bottom.mt-0.mb-30 為什麼選擇Oops ?
                                    .icon-box.clearfix.m-0.p-0.pb-10
                                        a.icon.icon-circled.bg-white.icon-lg.pull-left.flip.sm-pull-none(href='#')
                                            i.fa.fa-book.text-theme-color-2.font-36
                                        .ml-120.ml-sm-0
                                            h4.icon-box-title.text-white.mt-5.mb-10.letter-space-1 深入淺出的教材
                                            p.text-white 大家的日本語.できる日本語.首爾大學韓國語.延世大學韓國語.Oops專業教師自編教材
                                    .icon-box.clearfix.m-0.p-0.pb-10
                                        a.icon.icon-circled.bg-white.icon-lg.pull-left.flip.sm-pull-none(href='#')
                                            i.fa.fa-users.text-theme-color-2.font-36
                                        .ml-120.ml-sm-0
                                            h4.icon-box-title.text-white.mt-5.mb-10.letter-space-1 經驗豐富的名師
                                            p.text-white 授課時數超過3000小時的專業外籍教師及留學經驗豐富的台籍教師聯合執教 
                                    .icon-box.clearfix.m-0.p-0.pb-10
                                        a.icon.icon-circled.bg-white.icon-lg.pull-left.flip.sm-pull-none(href='#')
                                            i.fa.fa-coin.text-theme-color-2.font-36
                                        .ml-120.ml-sm-0
                                            h4.icon-box-title.text-white.mt-5.mb-10.letter-space-1 高CP值的銅板價
                                            p.text-white 讓您買的安心、讀的放心、說的開心。回購率百分百 
                            .col-sm-6.col-md-6.p-0.bg-img-cover.wow.fadeInRight.hidden-xs(data-bg-img='../images/jp-index/main/WhyOops800x455.jpg', data-wow-duration='1s', data-wow-delay='0.3s')
                // Section: courses
                section
                    .container.pt-70.pb-40
                        .section-title.text-center
                            .row
                                .col-md-8.col-md-offset-2
                                    h2.mt-0.line-height-1.text-center.text-uppercase.mb-10.text-black-333
                                        | Oops日語
                                        span.text-theme-color-2  熱門課程
                                    p 日語熱門課程任君挑選。實體線上一次購入，讓您躺著學、坐著讀、趴著看通通滿足。
                        .row.multi-row-clearfix
                            .col-md-12
                                .owl-carousel-3col.owl-nav-top(data-dots='true')
                                    .item
                                        .project.mb-30.border-2px
                                            .thumb
                                                img.img-fullwidth(alt='', src='https://placehold.it/370x285')
                                                .hover-link
                                                    a.btn.btn-flat.btn-dark.btn-theme-colored.btn-md.pull-left.font-20(href='#')
                                                        span $3999起
                                            .project-details.p-15.pt-10.pb-10
                                                h5.font-14.font-weight-500.mb-5 日語課程
                                                h4.font-weight-700.text-uppercase.mt-0
                                                    a(href='page-courses-accounting-technologies.html') 發音班
                                                p 快閃8周密集班，加值您的精彩人生
                                                ul.list-inline.project-conditions.text-center.m-0.p-10
                                                    li.current-fund
                                                        strong 上課時間
                                                        |  7~8月
                                                    li.target-fund
                                                        strong 限時倒數
                                                        | 5折起
                                                    li.remaining-days
                                                        strong 課程週數
                                                        | 8周
                                    .item
                                        .project.mb-30.border-2px
                                            .thumb
                                                img.img-fullwidth(alt='', src='https://placehold.it/370x285')
                                                .hover-link
                                                    a.btn.btn-flat.btn-dark.btn-theme-colored.btn-md.pull-left.font-20(href='#')
                                                        span $3999起
                                            .project-details.p-15.pt-10.pb-10
                                                h5.font-14.font-weight-500.mb-5 日語課程
                                                h4.font-weight-700.text-uppercase.mt-0
                                                    a(href='page-courses-accounting-technologies.html') 2018暑假密集班
                                                p 快閃8周密集班，加值您的精彩人生
                                                ul.list-inline.project-conditions.text-center.m-0.p-10
                                                    li.current-fund
                                                        strong 上課時間
                                                        |  7~8月
                                                    li.target-fund
                                                        strong 限時倒數
                                                        | 5折起
                                                    li.remaining-days
                                                        strong 課程週數
                                                        | 8周
                                    .item
                                        .project.mb-30.border-2px
                                            .thumb
                                                img.img-fullwidth(alt='', src='https://placehold.it/370x285')
                                                .hover-link
                                                    a.btn.btn-flat.btn-dark.btn-theme-colored.btn-md.pull-left.font-20(href='#')
                                                        span $3999起
                                            .project-details.p-15.pt-10.pb-10
                                                h5.font-14.font-weight-500.mb-5 日語課程
                                                h4.font-weight-700.text-uppercase.mt-0
                                                    a(href='page-courses-accounting-technologies.html') 2018寒假密集班
                                                p 外師帶您深入淺出聽說讀寫，讓您輕鬆學習無負擔。
                                                ul.list-inline.project-conditions.text-center.m-0.p-10
                                                    li.current-fund
                                                        strong 上課時間
                                                        |  7~8月
                                                    li.target-fund
                                                        strong 限時倒數
                                                        | 5折起
                                                    li.remaining-days
                                                        strong 課程週數
                                                        | 8周
                                    .item
                                        .project.mb-30.border-2px
                                            .thumb
                                                img.img-fullwidth(alt='', src='https://placehold.it/370x247')
                                                .hover-link
                                                    a.btn.btn-flat.btn-dark.btn-theme-colored.btn-md.pull-left.font-20(href='#')
                                                        span $3999起
                                            .project-details.p-15.pt-10.pb-10
                                                h5.font-14.font-weight-500.mb-5 日語課程
                                                h4.font-weight-700.text-uppercase.mt-0
                                                    a(href='page-courses-accounting-technologies.html') 個別班
                                                p 外師與您面對面，大聲說韓語
                                                ul.list-inline.project-conditions.text-center.m-0.p-10
                                                    li.current-fund
                                                        strong 上課時間
                                                        |  7~8月
                                                    li.target-fund
                                                        strong 限時倒數
                                                        | 5折起
                                                    li.remaining-days
                                                        strong 課程週數
                                                        | 8周

                                    .item
                                        .project.mb-30.border-2px
                                            .thumb
                                                img.img-fullwidth(alt='', src='https://placehold.it/370x285')
                                                .hover-link
                                                    a.btn.btn-flat.btn-dark.btn-theme-colored.btn-md.pull-left.font-20(href='#')
                                                        span $99元起/每堂
                                            .project-details.p-15.pt-10.pb-10
                                                h5.font-14.font-weight-500.mb-5 日語課程
                                                h4.font-weight-700.text-uppercase.mt-0
                                                    a(href='page-courses-accounting-technologies.html') 會話班
                                                p 正統關東腔、小班教學，全面加強無死角 
                                                ul.list-inline.project-conditions.text-center.m-0.p-10
                                                    li.current-fund
                                                        strong 上課時間
                                                        |  每周四
                                                    li.target-fund
                                                        strong 限時倒數
                                                        | 6折起
                                                    li.remaining-days
                                                        strong 課程週數
                                                        | 4周
                                    .item
                                        .project.mb-30.border-2px
                                            .thumb
                                                img.img-fullwidth(alt='', src='https://placehold.it/370x247')
                                                .hover-link
                                                    a.btn.btn-flat.btn-dark.btn-theme-colored.btn-md.pull-left.font-20(href='#')
                                                        span $500
                                            .project-details.p-15.pt-10.pb-10
                                                h5.font-14.font-weight-500.mb-5 日語課程
                                                h4.font-weight-700.text-uppercase.mt-0
                                                    a(href='page-courses-accounting-technologies.html') 正規班
                                                p
                                                    | 正統關東腔、小班教學，全面加強無死角
                                                ul.list-inline.project-conditions.text-center.m-0.p-10
                                                    li.current-fund
                                                        strong 上課時間
                                                        |  每周四
                                                    li.target-fund
                                                        strong 限時倒數
                                                        | 6折起
                                                    li.remaining-days
                                                        strong 課程週數
                                                        | 4周
                                    .item
                                        .project.mb-30.border-2px
                                            .thumb
                                                img.img-fullwidth(alt='', src='https://placehold.it/370x285')
                                                .hover-link
                                                    a.btn.btn-flat.btn-dark.btn-theme-colored.btn-md.pull-left.font-20(href='#')
                                                        span $500
                                            .project-details.p-15.pt-10.pb-10
                                                h5.font-14.font-weight-500.mb-5 日語課程
                                                h4.font-weight-700.text-uppercase.mt-0
                                                    a(href='page-courses-accounting-technologies.html') 企業派遣
                                                p
                                                    | 正統關東腔、小班教學，全面加強無死角
                                                ul.list-inline.project-conditions.text-center.m-0.p-10
                                                    li.current-fund
                                                        strong 上課時間
                                                        |  每周四
                                                    li.target-fund
                                                        strong 限時倒數
                                                        | 6折起
                                                    li.remaining-days
                                                        strong 課程週數
                                                        | 4周
                // Divider: Funfact
                section.divider.parallax.layer-overlay1(data-bg-img='https://placehold.it/1920x1280', data-parallax-ratio='0.7')
                    .container.pt-70.pb-60
                        .row
                            .col-xs-12.col-sm-6.col-md-3.mb-md-50
                                .funfact.text-center
                                    i.fa.fa-users.mt-5.text-white
                                    h2.animate-number.text-white.mt-0.font-38.font-weight-500(data-animation-duration='2000', data-value='12') 0
                                    h4.text-white.text-uppercase 教師人數
                            .col-xs-12.col-sm-6.col-md-3.mb-md-50
                                .funfact.text-center
                                    i.fa.fa-calendar-alt.mt-5.text-white
                                    h2.animate-number.text-white.mt-0.font-38.font-weight-500(data-animation-duration='2000', data-value='115') 0
                                    h4.text-white.text-uppercase 課外活動
                            .col-xs-12.col-sm-6.col-md-3.mb-md-50
                                .funfact.text-center
                                    i.fa.fa-home.mt-5.text-white
                                    h2.animate-number.text-white.mt-0.font-38.font-weight-500(data-animation-duration='2000', data-value='523') 0
                                    h4.text-white.text-uppercase 合作學校
                            .col-xs-12.col-sm-6.col-md-3.mb-md-50
                                .funfact.text-center
                                    i.fa.fa-graduation-cap.mt-5.text-white
                                    h2.animate-number.text-white.mt-0.font-38.font-weight-500(data-animation-duration='2000', data-value='823') 0
                                    h4.text-white.text-uppercase 學生人數
                // Section: Teachers
                section#teachers
                    .container.pt-70.pb-70
                        .section-title.text-center
                            .row
                                .col-md-8.col-md-offset-2
                                    h2.mt-0.line-height-1.text-center.text-uppercase.mb-10.text-black-333
                                        | 師資 
                                        span.text-theme-color-2  陣容
                                    p
                                        | 台籍聯合外籍教師，揪出學習外語盲點，讓學霸也GG
                                        br
                        .row.mtli-row-clearfix
                            .col-md-12
                                .owl-carousel-4col
                                    .item
                                        .team-members.border-bottom-theme-color-2px.text-center.maxwidth400
                                            .team-thumb
                                                img.img-fullwidth(alt='', src='../images/teachers/Miko.jpg')
                                                .team-overlay
                                            .team-details.bg-silver-light.pt-10.pb-10
                                                h4.text-uppercase.font-weight-600.m-5
                                                    a(href='page-teachers-details.html') Miko主任
                                                h6.text-theme-colored.font-15.font-weight-400.mt-0 最佳領導獎
                                                ul.styled-icons.icon-theme-colored.icon-dark.icon-circled.icon-sm
                                                    li
                                                        a(href='#')
                                                            .fab.fa-facebook
                                                    li
                                                        a(href='#')
                                                            .fab.fa-twitter
                                                    li
                                                        a(href='#')
                                                            .fab.fa-instagram
                                                    li
                                                        a(href='#')
                                                            .fab.fa-skype
                                    .item
                                        .team-members.border-bottom-theme-color-2px.text-center.maxwidth400
                                            .team-thumb
                                                img.img-fullwidth(alt='', src='../images/teachers/Angel.jpg')
                                                .team-overlay
                                            .team-details.bg-silver-light.pt-10.pb-10
                                                h4.text-uppercase.font-weight-600.m-5
                                                    a(href='page-teachers-details.html') Angel主任
                                                h6.text-theme-colored.font-15.font-weight-400.mt-0 最佳團結獎
                                                ul.styled-icons.icon-theme-colored.icon-dark.icon-circled.icon-sm
                                                    li
                                                        a(href='#')
                                                            .fab.fa-facebook
                                                    li
                                                        a(href='#')
                                                            .fab.fa-twitter
                                                    li
                                                        a(href='#')
                                                            .fab.fa-instagram
                                                    li
                                                        a(href='#')
                                                            .fab.fa-skype
                                    .item
                                        .team-members.border-bottom-theme-color-2px.text-center.maxwidth400
                                            .team-thumb
                                                img.img-fullwidth(alt='', src='../images/teachers/Shimato.jpg')
                                                .team-overlay
                                            .team-details.bg-silver-light.pt-10.pb-10
                                                h4.text-uppercase.font-weight-600.m-5
                                                    a(href='page-teachers-details.html') 島本老師
                                                h6.text-theme-colored.font-15.font-weight-400.mt-0 最佳氣質獎
                                                ul.styled-icons.icon-theme-colored.icon-dark.icon-circled.icon-sm
                                                    li
                                                        a(href='#')
                                                            .fab.fa-facebook
                                                    li
                                                        a(href='#')
                                                            .fab.fa-twitter
                                                    li
                                                        a(href='#')
                                                            .fab.fa-instagram
                                                    li
                                                        a(href='#')
                                                            .fab.fa-skype
                                    .item
                                        .team-members.border-bottom-theme-color-2px.text-center.maxwidth400
                                            .team-thumb
                                                img.img-fullwidth(alt='', src='../images/teachers/Fujimoto.jpg')
                                                .team-overlay
                                            .team-details.bg-silver-light.pt-10.pb-10
                                                h4.text-uppercase.font-weight-600.m-5
                                                    a(href='page-teachers-details.html') 藤本老師
                                                h6.text-theme-colored.font-15.font-weight-400.mt-0 最佳勤奮獎
                                                ul.styled-icons.icon-theme-colored.icon-dark.icon-circled.icon-sm
                                                    li
                                                        a(href='#')
                                                            .fab.fa-facebook
                                                    li
                                                        a(href='#')
                                                            .fab.fa-twitter
                                                    li
                                                        a(href='#')
                                                            .fab.fa-instagram
                                                    li
                                                        a(href='#')
                                                            .fab.fa-skype
                // Section: events
                //section#events.divider.parallax.layer-overlay-oops(data-stellar-background-ratio='0.5', data-bg-img='../images/jp-index/main/recent-act/background1920x1280.jpg')
                
                section#events.divider.parallax.layer-overlay.overlay-dark-6(data-stellar-background-ratio='0.5', data-bg-img='../images/jp-index/main/recent-act/background1920x1280.jpg')
                
                
                    .container.pt-70.pb-40
                        .section-title.mb-30
                            .row
                                .col-md-6.col-md-offset-3.text-center
                                    h2.mt-0.line-height-1.text-center.mb-10.text-white.text-uppercase 近期活動
                                    p.text-white
                                        | 包羅萬象的活動，帶您一起體驗異國風情
                                        br
                                        |  韓服體驗.日式浴衣體驗.日韓料理大PK....
                        .section-content
                            .row
                                .col-xs-12.col-sm-6.col-md-6.mb-30.wow.fadeInRight(data-wow-duration='1s', data-wow-delay='0.5s')
                                    .pricing.table-horizontal1.maxwidth400
                                        .row
                                            .col-md-6
                                                .thumb
                                                    img.img-fullwidth.mb-sm-0(src='../images/jp-index/main/recent-act/11花壽司.jpg', alt='')
                                            .col-md-6.p-30.pl-sm-50
                                                h4.mt-0.mb-5
                                                    a.text-white(href='#') 日式花壽司
                                                ul.list-inline.mb-5.text-white
                                                    li.pr-0
                                                        i.fa.fa-calendar.mr-5
                                                        |  2018.07.25 |
                                                    li.pl-5
                                                        i.fa.fa-map-marker.mr-5
                                                        | Oops一中校
                                                p.mb-15.mt-15.text-white 愛妻便當自己動手DIY，龍貓、鯉魚、花壽司
                                                a.text-white.font-weight-600(href='#') 我要報名 →
                                .col-xs-12.col-sm-6.col-md-6.mb-30.wow.fadeInRight(data-wow-duration='1s', data-wow-delay='0.5s')
                                    .pricing.table-horizontal2.maxwidth400
                                        .row
                                            .col-md-6
                                                .thumb
                                                    img.img-fullwidth.mb-sm-0(src='../images/jp-index/main/recent-act/08浴衣.jpg', alt='')
                                            .col-md-6.p-30.pl-sm-50
                                                h4.mt-0.mb-5
                                                    a.text-white(href='#') 日式浴衣體驗
                                                ul.list-inline.mb-5.text-white
                                                    li.pr-0
                                                        i.fa.fa-calendar.mr-5
                                                        |  2018.8.27 |
                                                    li.pl-5
                                                        i.fa.fa-map-marker.mr-5
                                                        | Oops一中校
                                                p.mb-15.mt-15.text-white 心花怒放當網紅，浴衣體驗強強滾！！
                                                a.text-white.font-weight-600(href='#') 我要報名 →
                                .col-xs-12.col-sm-6.col-md-6.mb-30.wow.fadeInRight(data-wow-duration='1s', data-wow-delay='0.5s')
                                    .pricing.table-horizontal3.maxwidth400
                                        .row
                                            .col-md-6
                                                .thumb
                                                    img.img-fullwidth.mb-sm-0(src='../images/jp-index/main/recent-act/03節分會.jpg', alt='')
                                            .col-md-6.p-30.pl-sm-50
                                                h4.mt-0.mb-5
                                                    a.text-white(href='#') 節分會
                                                ul.list-inline.mb-5.text-white
                                                    li.pr-0
                                                        i.fa.fa-calendar.mr-5
                                                        |  2018.09.14 |
                                                    li.pl-5
                                                        i.fa.fa-map-marker.mr-5
                                                        | Oops一中校
                                                p.mb-15.mt-15.text-white 只要2張小朋友， 邊玩邊學賺很大
                                                a.text-white.font-weight-600(href='#') 我要報名 →
                                .col-xs-12.col-sm-6.col-md-6.mb-30.wow.fadeInRight(data-wow-duration='1s', data-wow-delay='0.5s')
                                    .pricing.table-horizontal4.maxwidth400
                                        .row
                                            .col-md-6
                                                .thumb
                                                    img.img-fullwidth.mb-sm-0(src='../images/jp-index/main/recent-act/15壽喜燒.jpg', alt='')
                                            .col-md-6.p-30.pl-sm-50
                                                h4.mt-0.mb-5
                                                    a.text-white(href='#') 壽喜燒來報到
                                                ul.list-inline.mb-5.text-white
                                                    li.pr-0
                                                        i.fa.fa-calendar.mr-5
                                                        |  2018.10.12|
                                                    li.pl-5
                                                        i.fa.fa-map-marker.mr-5
                                                        | Oops一中校
                                                p.mb-15.mt-15.text-white 只要2張小朋友， 邊吃邊學賺很大
                                                a.text-white.font-weight-600(href='#') 我要報名 →
                // Gallery Grid 3
                section#gallery
                    .container.pt-70.pb-70
                        .section-title.text-center
                            .row
                                .col-md-8.col-md-offset-2
                                    h2.mt-0.line-height-1.text-center.mb-10.text-black-333.text-uppercase
                                        | 難忘
                                        span.text-theme-color-2  回憶
                                    p.mb-0.pb-0
                                        | 記錄著Oops與大家的點點滴滴~
                                        br
                                        |  我們下次見(´･ω･`)
                        .section-content
                            .row
                                .col-md-12
                                    // Portfolio Filter
                                    div(class='portfolio-filter font-alt align-center text-center mb-6 0')
                                        a.active(href='#', data-filter='*') 全部
                                        a(href='#jp-food', data-filter='.jp-food') 日料DIY
                                        a(href='#child-day', data-filter='.child-day') 日本兒童節
                                        a.mt-10(href='#jp-bathrobe', data-filter='.jp-bathrobe') 日式浴衣體驗
                                        a.mt-10(href='#setsubun', data-filter='.setsubun') 日本節分會
                                    // End Portfolio Filter
                                    // Portfolio Gallery Grid
                                    .gallery-isotope.grid-4.gutter-small.clearfix(data-lightbox='gallery')
                                        // Portfolio Item Start
                                        .gallery-item.child-day
                                            .thumb
                                                img.img-fullwidth(src='../images/jp-index/main/memory/兒童節03.jpg', alt='project')
                                                .overlay-shade
                                                .text-holder
                                                    .title.text-center 日本兒童節
                                                .icons-holder
                                                    .icons-holder-inner
                                                        .styled-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                                                            a(href='../images/jp-index/main/memory/兒童節03.jpg', data-lightbox-gallery='gallery', title='日本兒童節')
                                                                i.fa.fa-picture-o
                                        // Portfolio Item End
                                        // Portfolio Item Start
                                        //.gallery-item.photos.jp-bathrobe
                                        .gallery-item.jp-bathrobe
                                            .thumb
                                                img.img-fullwidth(src='../images/jp-index/main/memory/浴衣活動01.jpg', alt='project')
                                                .overlay-shade
                                                .text-holder
                                                    .title.text-center 日式浴衣體驗
                                                .icons-holder
                                                    .icons-holder-inner
                                                        .styled-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                                                            a(href='../images/jp-index/main/memory/浴衣活動01.jpg', data-lightbox-gallery='gallery', title='日式浴衣體驗')
                                                                i.fa.fa-picture-o
                                        // Portfolio Item End
                                        // Portfolio Item Start
                                        .gallery-item.child-day
                                            .thumb
                                                img.img-fullwidth(src='../images/jp-index/main/memory/兒童節05.jpg', alt='project')
                                                .overlay-shade
                                                .text-holder
                                                    .title.text-center 日本兒童節
                                                .icons-holder
                                                    .icons-holder-inner
                                                        .styled-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                                                            a(href='../images/jp-index/main/memory/兒童節05.jpg', data-lightbox-gallery='gallery', title='日本兒童節')
                                                                i.fa.fa-picture-o
                                        // Portfolio Item End
                                        // Portfolio Item Start
                                        .gallery-item.jp-food
                                            .thumb
                                                img.img-fullwidth(src='../images/jp-index/main/memory/章魚燒04.jpg', alt='project')
                                                .overlay-shade
                                                .text-holder
                                                    .title.text-center 日式章魚燒
                                                .icons-holder
                                                    .icons-holder-inner
                                                        .styled-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                                                            a(href='../images/jp-index/main/memory/章魚燒04.jpg', data-lightbox-gallery='gallery', title='日式章魚燒')
                                                                i.fa.fa-picture-o
                                        // Portfolio Item End
                                        // Portfolio Item Start
                                        .gallery-item.jp-bathrobe
                                            .thumb
                                                img.img-fullwidth(src='../images/jp-index/main/memory/浴衣活動03.jpg', alt='project')
                                                .overlay-shade
                                                .text-holder
                                                    .title.text-center 日式浴衣體驗
                                                .icons-holder
                                                    .icons-holder-inner
                                                        .styled-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                                                            a(href='../images/jp-index/main/memory/浴衣活動03.jpg', data-lightbox-gallery='gallery', title='日式浴衣體驗')
                                                                i.fa.fa-picture-o
                                        // Portfolio Item End
                                        // Portfolio Item Start
                                        .gallery-item.jp-food
                                            .thumb
                                                img.img-fullwidth(src='../images/jp-index/main/memory/章魚燒06.jpg', alt='project')
                                                .overlay-shade
                                                .text-holder
                                                    .title.text-center 日式章魚燒
                                                .icons-holder
                                                    .icons-holder-inner
                                                        .styled-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                                                            a(href='../images/jp-index/main/memory/章魚燒06.jpg', data-lightbox-gallery='gallery', title='日式章魚燒')
                                                                i.fa.fa-picture-o
                                        // Portfolio Item End
                                        // Portfolio Item Start
                                        .gallery-item.jp-bathrobe
                                            .thumb
                                                img.img-fullwidth(src='../images/jp-index/main/memory/浴衣活動05.jpg', alt='project')
                                                .overlay-shade
                                                .text-holder
                                                    .title.text-center 日式浴衣體驗
                                                .icons-holder
                                                    .icons-holder-inner
                                                        .styled-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                                                            a(href='../images/jp-index/main/memory/浴衣活動05.jpg', data-lightbox-gallery='gallery', title='Your Title Here')
                                                                i.fa.fa-picture-o
                                        // Portfolio Item End
                                        // Portfolio Item Start
                                        .gallery-item.jp-food
                                            .thumb
                                                img.img-fullwidth(src='../images/jp-index/main/memory/造型壽司02.jpg', alt='project')
                                                .overlay-shade
                                                .text-holder
                                                    .title.text-center 日式造型壽司
                                                .icons-holder
                                                    .icons-holder-inner
                                                        .styled-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                                                            a(href='../images/jp-index/main/memory/造型壽司02.jpg', data-lightbox-gallery='gallery', title='日式造型壽司')
                                                                i.fa.fa-picture-o
                                        // Portfolio Item End
                                        // Portfolio Item Start
                                        .gallery-item.setsubun
                                            .thumb
                                                img.img-fullwidth(src='../images/jp-index/main/memory/節分會01.jpg', alt='project')
                                                .overlay-shade
                                                .text-holder
                                                    .title.text-center 日本節分會
                                                .icons-holder
                                                    .icons-holder-inner
                                                        .styled-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                                                            a(href='../images/jp-index/main/memory/節分會01.jpg', data-lightbox-gallery='gallery', title='日本節分會')
                                                                i.fa.fa-picture-o
                                        // Portfolio Item End
                                        // Portfolio Item Start
                                        .gallery-item.jp-food
                                            .thumb
                                                img.img-fullwidth(src='../images/jp-index/main/memory/造型壽司09.jpg', alt='project')
                                                .overlay-shade
                                                .text-holder
                                                    .title.text-center 日式造型壽司
                                                .icons-holder
                                                    .icons-holder-inner
                                                        .styled-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                                                            a(href='../images/jp-index/main/memory/造型壽司09.jpg', data-lightbox-gallery='gallery', title='日式造型壽司')
                                                                i.fa.fa-picture-o
                                        // Portfolio Item End
                                        // Portfolio Item Start
                                        .gallery-item.setsubun
                                            .thumb
                                                img.img-fullwidth(src='../images/jp-index/main/memory/節分會02.jpg', alt='project')
                                                .overlay-shade
                                                .text-holder
                                                    .title.text-center 日本節分會
                                                .icons-holder
                                                    .icons-holder-inner
                                                        .styled-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                                                            a(href='../images/jp-index/main/memory/節分會02.jpg', data-lightbox-gallery='gallery', title='日本節分會')
                                                                i.fa.fa-picture-o
                                        // Portfolio Item End
                                        // Portfolio Item Start
                                        .gallery-item.jp-food
                                            .thumb
                                                img.img-fullwidth(src='../images/jp-index/main/memory/造型壽司08.jpg', alt='project')
                                                .overlay-shade
                                                .text-holder
                                                    .title.text-center 日式造型壽司
                                                .icons-holder
                                                    .icons-holder-inner
                                                        .styled-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                                                            a(href='../images/jp-index/main/memory/造型壽司08.jpg', data-lightbox-gallery='gallery', title='日式造型壽司')
                                                                i.fa.fa-picture-o
                                        // Portfolio Item End
                                    // End Portfolio Gallery Grid
                // Section: Client Say
                //section.divider.parallax.layer-overlay.overlay-dark-4(data-background-ratio='0.5', data-bg-img='https://placehold.it/1920x1280')
                section.divider.parallax.layer-overlay.overlay-dark-4(data-background-ratio='0.5', data-bg-img='../images/jp-index/main/學生感想-背景圖.jpg')
                    .container.pt-60.pb-60
                        .row
                            .col-md-8.col-md-offset-2
                                h2.text-uppercase.mt-0.pb-0.text-center.text-white 學生感想
                                .owl-carousel-1col(data-dots='true')
                                    .item
                                        .testimonial-wrapper.text-center
                                            .thumb
                                                img(alt='', src='https://placehold.it/100x100')
                                            .content.pt-10
                                                p.lead.text-white 小班教學開口機會多。加上老師認真的教學，每個同學都能充分地練習。所以很推薦在這裡學習外語。
                                                h4.author.text-white.mb-0 Peter Wang
                                                h6.title.text-white.mt-0.mb-15 Student
                                    .item
                                        .testimonial-wrapper.text-center
                                            .thumb
                                                img(alt='', src='https://placehold.it/100x100')
                                            .content.pt-10
                                                p.lead.text-white
                                                    | 我是外商高階主管，所以特別重視外語能力。除了本身已經具備高階英語能力，但是面對時代潮流的演進，發現僅僅只會說一種外語已經無法因應時代需求，超推薦在這裡學習韓語、日語或者英語的。
                                                h4.author.text-white.mb-0 Catherine Grace
                                                h6.title.text-white.mt-0.mb-15 設計系
                                    .item
                                        .testimonial-wrapper.text-center
                                            .thumb
                                                img(alt='', src='https://placehold.it/100x100')
                                            .content.pt-10
                                                p.lead.text-white
                                                    | 目前是大二的學生，因為只有對韓語有高度興趣，所以選擇韓語來加強自己的外語能力。目前在這邊已經學習2年以上。也因為長期的課程學習，韓語程度也來到了Level 2。雖然一邊就讀大學一邊學習外語，課業壓力是有點大，想是想到未來如果在台灣就業，還是很需要語言方面的實力。在此推薦大家來OoPS一起上課唷。
                                                h4.author.text-white.mb-0 Angela Cheng
                                                h6.title.text-white.mt-0.mb-15 國貿系
                // Section: Blog
                section#blog
                    .container.pt-70
                        .section-title.text-center
                            .row
                                .col-md-8.col-md-offset-2
                                    h2.mt-0.line-height-1.text-uppercase
                                        | 最新  
                                        span.text-theme-color-2  消息
                                    p
                                        | 想看最新日語、韓語、英語課程，請看OoPs最新消息公告唷。歡迎您點選以下有興趣的課程，進一步了解我們~
                                        br
                                        | Oops顛覆您的學習
                        .row
                            .col-md-12
                                .owl-carousel-3col.owl-nav-top.mb-sm-0(data-dots='true')
                                    .item
                                        article.post.clearfix.maxwidth600.mb-sm-30.wow.fadeInRight(data-wow-delay='.2s')
                                            .entry-header
                                                .post-thumb.thumb
                                                    img.img-responsive.img-fullwidth(src='https://placehold.it/370x247', alt='')
                                                //.entry-meta.meta-absolute.text-center.pl-10.pr-10
                                                    .display-table
                                                        .display-table-cell
                                                            ul
                                                                li
                                                                    a.text-white(href='#')
                                                                        i.fa.fa-comments.mt-0.pt-0
                                                                        |  85個
                                                                        br
                                                                        |  留言
                                                                li
                                                                    a.text-white(href='#')
                                                                        i.fa.fa-thumbs-up1.mt-20
                                                                        |  250個
                                                                        br
                                                                        |  讚
                                            .entry-content.border-1px.p-20
                                                h4.entry-title.mt-0.pt-0
                                                    a(href='#') 日語會話課程
                                                span.text-theme-colored.mr-10.font-14
                                                    | OoPs 
                                                    i.fa.fa-calendar.mr-5.text-theme-colored
                                                    | 2018.07.28
                                                p.text-left.mb-20.mt-5.font-13 了解文法卻無法有自信地開口說，參加OoPs會話班讓您不再害怕開口說
                                                a.btn.btn-flat.btn-dark.bg-theme-colored-angel-3.btn-sm.pull-left(href='blog-single-left-sidebar.html') 了解更多
                                                .clearfix
                                    .item
                                        article.post.clearfix.maxwidth600.mb-sm-30.wow.fadeInRight(data-wow-delay='.4s')
                                            .entry-header
                                                .post-thumb.thumb
                                                    img.img-responsive.img-fullwidth(src='https://placehold.it/370x247', alt='')
                                            .entry-content.border-1px.p-20
                                                h4.entry-title.mt-0.pt-0
                                                    a(href='#') 韓語會話班
                                                span.text-theme-colored.mr-10.font-14
                                                    | OoPs 
                                                    i.fa.fa-calendar.mr-5.text-theme-colored
                                                    | 2018.08.05
                                                p.text-left.mb-20.mt-5.font-13 韓文一點都不難，來OoPs上課就知道。輕鬆和外籍教師一起開口說。
                                                a.btn.btn-flat.btn-dark.bg-theme-colored-angel-3.btn-sm.pull-left(href='blog-single-left-sidebar.html') 了解更多
                                                .clearfix
                                    .item
                                        article.post.clearfix.maxwidth600.mb-sm-30.wow.fadeInRight(data-wow-delay='.6s')
                                            .entry-header
                                                .post-thumb.thumb
                                                    img.img-responsive.img-fullwidth(src='https://placehold.it/370x247', alt='')
                                            .entry-content.border-1px.p-20
                                                h4.entry-title.mt-0.pt-0
                                                    a(href='#') 英語會話班
                                                span.text-theme-colored.mr-10.font-14
                                                    | OoPs 
                                                    i.fa.fa-calendar.mr-5.text-theme-colored
                                                    | 2018.09.22
                                                p.text-left.mb-20.mt-5.font-13 還在說台灣Style英語嗎?想說得一口道地的英語就要選擇OoPs英語課程。
                                                a.btn.btn-flat.btn-dark.bg-theme-colored-angel-3.btn-sm.pull-left(href='blog-single-left-sidebar.html') 了解更多
                                                .clearfix
                                    .item
                                        article.post.clearfix.maxwidth600.mb-sm-30
                                            .entry-header
                                                .post-thumb.thumb
                                                    img.img-responsive.img-fullwidth(src='https://placehold.it/370x285', alt='')
                                            .entry-content.border-1px.p-20
                                                h4.entry-title.mt-0.pt-0
                                                    a(href='#') 韓語正規班
                                                span.text-theme-colored.mr-10.font-14
                                                    | OoPS 
                                                    i.fa.fa-calendar.mr-5.text-theme-colored
                                                    | 2018.11.30
                                                p.text-left.mb-20.mt-5.font-13 養成韓語基礎實力，創造你的國際競爭力。
                                                a.btn.btn-flat.btn-dark.bg-theme-colored-angel-3.btn-sm.pull-left(href='blog-single-left-sidebar.html') 了解更多
                                                .clearfix
                                    .item
                                        article.post.clearfix.maxwidth600.mb-sm-30
                                            .entry-header
                                                .post-thumb.thumb
                                                    img.img-responsive.img-fullwidth(src='https://placehold.it/370x247', alt='')
                                            .entry-content.border-1px.p-20
                                                h4.entry-title.mt-0.pt-0
                                                    a(href='#') 日語正規班
                                                span.text-theme-colored.mr-10.font-14
                                                    | OoPs 
                                                    i.fa.fa-calendar.mr-5.text-theme-colored
                                                    | 2018.10.21
                                                p.text-left.mb-20.mt-5.font-13 5-10個月晉級1個Level，讓您就算出國旅遊、打工度假、赴日升學無煩惱。
                                                a.btn.btn-flat.btn-dark.bg-theme-colored-angel-3.btn-sm.pull-left(href='blog-single-left-sidebar.html') 了解更多
                                                .clearfix
                // Divider: Clients
                section.clients.bg-theme-colored
                    .container.pt-10.pb-10.pb-sm-0.pt-sm-0
                        .row
                            .col-md-12
                                // Section: Clients
                                .owl-carousel-6col.transparent.text-center.owl-nav-top
                                    .item
                                        a(href='#')
                                            //img(src='https://placehold.it/200x120', alt='')
                                            img(src='../images/jp-index/main/last_part/JLPT 200x120.jpg', alt='')
                                    .item
                                        a(href='#')
                                            //img(src='https://placehold.it/200x120', alt='')
                                            img(src='../images/jp-index/main/last_part/EJU日語檢定 200x120.jpg', alt='')  
                                    .item
                                        a(href='#')
                                            //img(src='https://placehold.it/200x120', alt='')
                                            img(src='../images/jp-index/main/last_part/J test日語檢定 200x120.jpg', alt='')
                                    .item
                                        a(href='#')
                                            //img(src='https://placehold.it/200x120', alt='')
                                            img(src='../images/jp-index/main/last_part/BJT 200x120.jpg', alt='')
                                    

                                    .item
                                        a(href='#')
                                            //img(src='https://placehold.it/200x120', alt='')
                                            img(src='../images/jp-index/main/last_part/JLPT 200x120.jpg', alt='')
                                    .item
                                        a(href='#')
                                            //img(src='https://placehold.it/200x120', alt='')
                                            img(src='../images/jp-index/main/last_part/EJU日語檢定 200x120.jpg', alt='')  
                                    .item
                                        a(href='#')
                                            //img(src='https://placehold.it/200x120', alt='')
                                            img(src='../images/jp-index/main/last_part/J test日語檢定 200x120.jpg', alt='')
                                    .item
                                        a(href='#')
                                            //img(src='https://placehold.it/200x120', alt='')
                                            img(src='../images/jp-index/main/last_part/BJT 200x120.jpg', alt='')
            // end main-content

        // end wrapper
        // Footer Scripts
        // JS | Custom script for all pages
block script
        script(src='../js/custom_L1_JP.js')
        //
            SLIDER REVOLUTION 5.0 EXTENSIONS
            (Load Extensions only on Local File Systems !
            The following part can be removed on Server for On Demand Loading)
        script(type='text/javascript', src='../js/revolution-slider/js/extensions/revolution.extension.actions.min.js')
        script(type='text/javascript', src='../js/revolution-slider/js/extensions/revolution.extension.carousel.min.js')
        script(type='text/javascript', src='../js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js')
        script(type='text/javascript', src='../js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js')
        script(type='text/javascript', src='../js/revolution-slider/js/extensions/revolution.extension.migration.min.js')
        script(type='text/javascript', src='../js/revolution-slider/js/extensions/revolution.extension.navigation.min.js')
        script(type='text/javascript', src='../js/revolution-slider/js/extensions/revolution.extension.parallax.min.js')
        script(type='text/javascript', src='../js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js')
        script(type='text/javascript', src='../js/revolution-slider/js/extensions/revolution.extension.video.min.js')

