extends L2_layout_eng
block title
    title OoPs English
    title #{title}
block style

block content
    #wrapper.clearfix
        // Start main-content
        .main-content.bg-lighter
            // Section: inner-header
            section.inner-header.divider.parallax.layer-overlay.overlay-dark-5(data-bg-img="https://placehold.it/1920x1280")
                .container.pt-70.pb-20
                    // Section Content
                    .section-content
                        .row
                            .col-md-12
                                h2.title.text-white.text-center 環境介紹
                                ol.breadcrumb.text-left.text-black.mt-10
                                    li
                                        a(href="#") Home
                                    li
                                        a(href="#") Pages
                                    li.active.text-gray-silver Page Title
            // Section: About
            section#about
                .container
                    .section-content
                        .row.mt-50
                            .col-md-5
                                .class-item1
                                    .thumb
                                        a(href="#")
                                            img.img-responsive.img-fullwidth.mb-20(src="https://placehold.it/450x450" alt="...")
                            .col-md-7.mt-20
                                .caption
                                    span.text-uppercase.letter-space-4.mb-10.text-theme-colored 鄰近一中商圈、中友百貨
                                    h3.text-uppercase.text-theme-colored.font-weight-600.letter-space-2.mt-5 環境介紹
                                    p
                                        | 台中武藏日韓語教學學習中心位於一中商圈中友百貨附近，即台中市北區三民路3段217號10F之6 。因鄰近台中火車站、台中中山公園、中友百貨商圈、臺中中技大學、台中體大、台中一中及台中中醫..等名校，交通十分便利。
                                    p
                                        | 台中武藏韓語日語教學學習課程設計採小班制教學，不論是韓文、日文課程選擇性豐富、開班時段多，能滿足各式各樣的日語韓語學習需求。課程方面特別引進韓國、日本語言學校教學方式，全程採韓語、日語授課，除了平日的正規韓文、日文授課之外，亦不定期安排韓國文化體驗、日本文化體驗課程。對於將來打算赴韓國、日本作長短期留學遊學者亦免費提供韓國、日本留學遊學相關諮詢。
                            .col-md-7
                                p
                                    | 主要課程：韓語發音,韓語初級,韓語中級,韓語高級,商用韓語,韓語會話,韓語留遊學先修班,TOPIK韓語檢定,日語發音,日語初級,日語中級,日語高級,商用日語,日語會話,日本留學遊學先修班,JLPT日語檢定,韓國日本留學遊學代辦,韓國寒暑期遊學團,日本寒暑期遊學團,韓語企業外派教學,日語企業外派教學。
                            .col-md-5
                                p
                                    | 連絡電話：(04)2221-1568 
                                    br
                                    |  傳真：(04)2221-1569 
                                    br
                                    |  營業時間  周一~五 13:00 - 22:00 ( 週六~日 10:00 - 17:00 )

            // Section: Divider
            section.divider.parallax.layer-overlay.overlay-theme-colored-7(data-bg-img="https://placehold.it/1920x1280" data-parallax-ratio="0.7")
                .container
                    .row
                        .col-md-8.col-md-offset-2
                            .section-content.text-center
                                h2.text-white.letter-space-4.font-32
                                    | 專業、專精於教育領域的
                                    span.text-theme-color-2 專家
                                h3.text-white.text-uppercase.font-weight-300.mt-0
                                    | 能夠得到學生的認同是做為老師最大的收穫
                                    br
                                    | 學員們給的回饋更是武藏繼續努力的最大動力!!!
                                a.btn.btn-default.mt-10.btn-md.text-uppercase(href="")  聯絡我們
            // Section: Features
            section.bg-lighter
                .container
                    .section-content
                        .row
                            .col-md-6
                                h3.text-uppercase.title.line-bottom
                                    | 我們的
                                    span.text-black.font-weight-300 特色
                                .row
                                    .col-md-6
                                        .icon-box.p-0.mb-30
                                            a.icon.bg-theme-colored.icon-circled.icon-border-effect.effect-circle.icon-sm.pull-left.sm-pull-none.flip(href="#")
                                                i.fa.fa-coin.text-white
                                            .icon-box-details.ml-sm-0
                                                h5.icon-box-title.mt-15.text-uppercase.letter-space-2.mb-0 高CP值的銅板價
                                                p.text-gray 高品質教學，低於預期的銅板價。讓您買的安心、讀的放心、說的開心。
                                    .col-md-6
                                        .icon-box.p-0.mb-30
                                            a.icon.bg-theme-colored.icon-circled.icon-border-effect.effect-circle.icon-sm.pull-left.sm-pull-none.flip(href="#")
                                               i.fa.fa-chalkboard-teacher.text-white
                                            .icon-box-details.ml-sm-0
                                                h5.icon-box-title.mt-15.text-uppercase.letter-space-2.mb-0 經驗豐富的名師
                                                p.text-gray 授課時數超過3000小時的專業外籍教師及留學經驗豐富的台籍教師聯合執教
                                    .col-md-6
                                        .icon-box.p-0.mb-30
                                            a.icon.bg-theme-colored.icon-circled.icon-border-effect.effect-circle.icon-sm.pull-left.sm-pull-none.flip(href="#")
                                                i.fa.fa-book.text-white
                                            .icon-box-details.ml-sm-0
                                                h5.icon-box-title.mt-15.text-uppercase.letter-space-2.mb-0 深入淺出的教材
                                                p.text-gray 淺顯易懂的教材及補充資料，帶您輕鬆攻克難關。
                                    .col-md-6
                                        .icon-box.p-0.mb-30
                                            a.icon.bg-theme-colored.icon-circled.icon-border-effect.effect-circle.icon-sm.pull-left.sm-pull-none.flip(href="#")
                                                i.fa.fa-users.text-white
                                            .icon-box-details.ml-sm-0
                                                h5.icon-box-title.mt-15.text-uppercase.letter-space-2.mb-0 專業輔助團隊
                                                p.text-gray 讓學生無後顧之憂的上課、學習、準備考試、以及留遊學。
                                    .col-md-6
                                        .icon-box.p-0.mb-30
                                            a.icon.bg-theme-colored.icon-circled.icon-border-effect.effect-circle.icon-sm.pull-left.sm-pull-none.flip(href="#")
                                                i.fa.fa-school.text-white
                                            .icon-box-details.ml-sm-0
                                                h5.icon-box-title.mt-15.text-uppercase.letter-space-2.mb-0 小班制教學
                                                p.text-gray 小班制教學，讓學生們能有更多和老師互動的機會，提升學習效率。
                                    .col-md-6
                                        .icon-box.p-0.mb-30
                                            a.icon.bg-theme-colored.icon-circled.icon-border-effect.effect-circle.icon-sm.pull-left.sm-pull-none.flip(href="#")
                                                i.fa.fa-globe.text-white
                                            .icon-box-details.ml-sm-0
                                                h5.icon-box-title.mt-15.text-uppercase.letter-space-2.mb-0 多元的活動
                                                p.text-gray Oops提供多元化活動，讓學生在愉快的環境下學習，並從各種活動中深入了解不同文化，提升對學習的興趣。
                            .col-md-6
                                h3.text-uppercase.title.line-bottom
                                    | Our 
                                    span.text-black.font-weight-300 Working Skill
                                .progressbar-container
                                    .progress-item.mb-30
                                        .progress-title
                                            h5.text-uppercase.letter-space-2 Computer
                                        .progress
                                            .progress-bar.bg-theme-colored(data-percent="85")
                                    .progress-item.mb-30
                                        .progress-title
                                            h5.text-uppercase.letter-space-2 Phone
                                        .progress
                                            .progress-bar.bg-theme-colored(data-percent="45")
                                    .progress-item.mb-30
                                        .progress-title
                                            h5.text-uppercase.letter-space-2 Laptop
                                        .progress
                                            .progress-bar.bg-theme-colored(data-percent="95")
                                    .progress-item.mb-30
                                        .progress-title
                                            h5.text-uppercase.letter-space-2 Television
                                        .progress
                                            .progress-bar.bg-theme-colored(data-percent="65")
                                    .progress-item.mb-30
                                        .progress-title
                                            h5.text-uppercase.letter-space-2 Others
                                        .progress
                                            .progress-bar.bg-theme-colored(data-percent="88")
            // end main-content

            // end wrapper
block script
