extends L2_layout_kr
block title
    title OoPs Language Center
    title #{title}
    //page-about-style2.pug
block style
    //style.
        #more {display: none;}
block content
    #wrapper.clearfix
        // Start main-content
        .main-content
            // Section: Experts Details
            section
                .container
                    .section-content
                        .row
                            .col-md-4
                                .thumb
                                    img(src='http://placehold.it/360x360', alt='')
                            .col-md-8
                                h4.name.font-24.mt-0.mb-0 OOPS日韓美外語中心
                                h5.mt-5.text-theme-color-2 關於我們
                                p
                                    |-『OOPS日韓美外語中心』於2012年成立至今，由『台中武藏日韓語教學中心』延續。 創辦人由多位熱愛日韓美文化的教育家組成，透過大家多年遊歷海外的經驗，深刻體悟日韓美語與國際間接軌的重要性，因此共同創立外語短期補習班，希望藉以提供管道，提升國內語言競爭力，也回歸台灣為國家盡一份力。
                                li 由深具教學經驗的日韓美籍菁英外語師資，專業規劃日語、韓語、美語課程，提供『原汁原味』的學習環境，從發音、詞彙、文法一條龍式的教學課程，讓聽、說、讀、寫表現優異，基礎穩健，更有效率。
                                li 成人班採小班制教學，以道地外語開口說，和陪伴閱讀寫作方式，強化學員表達及書寫能力。
                                li 提供未來打算出國的學員，海外長短期留遊學及打工度假諮詢和代辦服務。
                                li 針對未來計畫進入日商、韓商工作的學員，開辦商用日文、韓文的實用訓練學習課程。
                                li 若想提升競爭力，讓工作留學更順暢，特別增設了『日本語能力試驗(JLPT)』以及『韓國語檢定考(TOPIK)』實力養成課程。透過課程互動教學，讓語言融入生活，考試更順手。
                                ul.styled-icons.icon-dark.icon-theme-colored.icon-sm.mt-15.mb-0
                                    li
                                        a(href='https://www.facebook.com/ilovemusashi')
                                            .fab.fa-facebook
                                    li
                                        a(href='https://www.youtube.com/channel/UC-z6LRsqWn86jB29NsVcPAw/featured')
                                            .fab.fa-youtube
                                    li
                                        a(href='https://www.instagram.com/oops.top/')
                                            .fab.fa-instagram
            // Section: About
            section#about
                .container.mt-50.pb-70.pt-0
                    .section-content
                        .row.mt-10
                            .col-sm-12.col-md-6.mb-sm-20.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='0.5s')
                                h3.text-uppercase.mt-15
                                    | OOPS日韓美外語中心
                                    span.text-theme-color-2   環境介紹 
                                p
                                    |－優質地段
                                li 中心位於台中中友百貨附近交叉口。
                                li 距離台中車站約10分鐘車程/一中商圈約5分鐘步程。
                                li 公車停靠點多，路程經過台中車站，交通相當便利。
                                li 鄰近臺中科技大學、台中體大、台中一中、中國醫藥大學..等學區。   
                                p
                                    |－舒適空間制度
                                li 消防設備檢驗合格，安全有保障。
                                li 提供補課電腦設備，不怕請假，進度跟得上。
                                li 乾淨明亮的學習環境，近距離的座位安排，師生互動更緊密。
                                li 採用韓國、日本語言學校教育，針對學員程度進行課程安排。
                                li 課程採小班制教學，選擇性豐富、開班時段多，滿足各式需求。
                                a.btn.btn-colored.btn-theme-colored.btn-lg.text-uppercase.font-13.mt-0(href='https://chatbot.mu-sashi.com.tw/oops/kr-index/kr-course-list') 我要上課→
                            .col-sm-12.col-md-6.mt-10.wow.fadeInDown(data-wow-duration='1s', data-wow-delay='0.5s')
                                .video-popup
                                    a(href='https://www.youtube.com/watch?v=pW1uVUg5wXM', data-lightbox-gallery='youtube-video', title='Video')
                                        img.img-responsive.img-fullwidth.mt-10.ml-30.ml-xs-0.ml-sm-0(alt='', src='http://placehold.it/555x330')
            // Section: courses
            section
                .container.pt-70.pb-40
                    .section-title.text-center
                        .row
                            .col-md-8.col-md-offset-2
                                h2.mt-0.line-height-1.text-center.text-uppercase.mb-10.text-black-333
                                    | Our 
                                    span.text-theme-color-2  Courses
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem
                                    br
                                    |  voluptatem obcaecati!
                    .row.multi-row-clearfix
                        .col-md-12
                            .owl-carousel-3col.owl-nav-top(data-dots='true')
                                .item
                                    .project.mb-30.border-2px
                                        .thumb
                                            img.img-fullwidth(alt='', src='http://placehold.it/370x285')
                                            .hover-link
                                                a.btn.btn-flat.btn-dark.btn-theme-colored.btn-md.pull-left.font-20(href='#')
                                                    span $500
                                        .project-details.p-15.pt-10.pb-10
                                            h5.font-14.font-weight-500.mb-5 Subtitle place here
                                            h4.font-weight-700.text-uppercase.mt-0
                                                a(href='page-courses-accounting-technologies.html') Course Title Here
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum diam tortor, egestas varius erat aliquam.
                                            ul.list-inline.project-conditions.text-center.m-0.p-10
                                                li.current-fund
                                                    strong Time
                                                    |  June 26
                                                li.target-fund
                                                    strong Discount
                                                    | 15%
                                                li.remaining-days
                                                    strong Duration
                                                    | 6 Months
                                .item
                                    .project.mb-30.border-2px
                                        .thumb
                                            img.img-fullwidth(alt='', src='http://placehold.it/370x285')
                                            .hover-link
                                                a.btn.btn-flat.btn-dark.btn-theme-colored.btn-md.pull-left.font-20(href='#')
                                                    span $500
                                        .project-details.p-15.pt-10.pb-10
                                            h5.font-14.font-weight-500.mb-5 Subtitle place here
                                            h4.font-weight-700.text-uppercase.mt-0
                                                a(href='page-courses-accounting-technologies.html') Course Title Here
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum diam tortor, egestas varius erat aliquam.
                                            ul.list-inline.project-conditions.text-center.m-0.p-10
                                                li.current-fund
                                                    strong Time
                                                    |  June 26
                                                li.target-fund
                                                    strong Discount
                                                    | 15%
                                                li.remaining-days
                                                    strong Duration
                                                    | 6 Months
                                .item
                                    .project.mb-30.border-2px
                                        .thumb
                                            img.img-fullwidth(alt='', src='http://placehold.it/370x285')
                                            .hover-link
                                                a.btn.btn-flat.btn-dark.btn-theme-colored.btn-md.pull-left.font-20(href='#')
                                                    span $500
                                        .project-details.p-15.pt-10.pb-10
                                            h5.font-14.font-weight-500.mb-5 Subtitle place here
                                            h4.font-weight-700.text-uppercase.mt-0
                                                a(href='page-courses-accounting-technologies.html') Course Title Here
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum diam tortor, egestas varius erat aliquam.
                                            ul.list-inline.project-conditions.text-center.m-0.p-10
                                                li.current-fund
                                                    strong Time
                                                    |  June 26
                                                li.target-fund
                                                    strong Discount
                                                    | 15%
                                                li.remaining-days
                                                    strong Duration
                                                    | 6 Months
                                .item
                                    .project.mb-30.border-2px
                                        .thumb
                                            img.img-fullwidth(alt='', src='http://placehold.it/370x285')
                                            .hover-link
                                                a.btn.btn-flat.btn-dark.btn-theme-colored.btn-md.pull-left.font-20(href='#')
                                                    span $500
                                        .project-details.p-15.pt-10.pb-10
                                            h5.font-14.font-weight-500.mb-5 Subtitle place here
                                            h4.font-weight-700.text-uppercase.mt-0
                                                a(href='page-courses-accounting-technologies.html') Course Title Here
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum diam tortor, egestas varius erat aliquam.
                                            ul.list-inline.project-conditions.text-center.m-0.p-10
                                                li.current-fund
                                                    strong Time
                                                    |  June 26
                                                li.target-fund
                                                    strong Discount
                                                    | 15%
                                                li.remaining-days
                                                    strong Duration
                                                    | 6 Months
                                .item
                                    .project.mb-30.border-2px
                                        .thumb
                                            img.img-fullwidth(alt='', src='http://placehold.it/370x285')
                                            .hover-link
                                                a.btn.btn-flat.btn-dark.btn-theme-colored.btn-md.pull-left.font-20(href='#')
                                                    span $500
                                        .project-details.p-15.pt-10.pb-10
                                            h5.font-14.font-weight-500.mb-5 Subtitle place here
                                            h4.font-weight-700.text-uppercase.mt-0
                                                a(href='page-courses-accounting-technologies.html') Course Title Here
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum diam tortor, egestas varius erat aliquam.
                                            ul.list-inline.project-conditions.text-center.m-0.p-10
                                                li.current-fund
                                                    strong Time
                                                    |  June 26
                                                li.target-fund
                                                    strong Discount
                                                    | 15%
                                                li.remaining-days
                                                    strong Duration
                                                    | 6 Months
                                .item
                                    .project.mb-30.border-2px
                                        .thumb
                                            img.img-fullwidth(alt='', src='http://placehold.it/370x285')
                                            .hover-link
                                                a.btn.btn-flat.btn-dark.btn-theme-colored.btn-md.pull-left.font-20(href='#')
                                                    span $500
                                        .project-details.p-15.pt-10.pb-10
                                            h5.font-14.font-weight-500.mb-5 Subtitle place here
                                            h4.font-weight-700.text-uppercase.mt-0
                                                a(href='page-courses-accounting-technologies.html') Course Title Here
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum diam tortor, egestas varius erat aliquam.
                                            ul.list-inline.project-conditions.text-center.m-0.p-10
                                                li.current-fund
                                                    strong Time
                                                    |  June 26
                                                li.target-fund
                                                    strong Discount
                                                    | 15%
                                                li.remaining-days
                                                    strong Duration
                                                    | 6 Months
            section.bg-lighter
                .container
                    .row
                        .col-md-8.col-md-offset-2
                            #accordion1.panel-group.accordion.transparent
                                .panel
                                    .panel-title
                                        a.active(data-parent='#accordion1', data-toggle='collapse', href='#accordion11', aria-expanded='true')
                                            span.open-sub
                                            strong Q. 於開課三十日前申請退費，應退還多少呢？
                                    #accordion11.panel-collapse.collapse.in(role='tablist', aria-expanded='true')
                                        .panel-content
                                            p
                                                | 學生於開課日三十日前提出退費申請者，退還當期開班約定繳納費用總額百分之九十五，惟補習班所收取之百分之五部分最高不得超過新臺幣一千元。
                                .panel
                                    .panel-title
                                        a.collapsed(data-parent='#accordion1', data-toggle='collapse', href='#accordion12', aria-expanded='false')
                                            span.open-sub
                                            strong Q. 於開課日前三十日申請退費，應退還多少呢？
                                    #accordion12.panel-collapse.collapse(role='tablist', aria-expanded='false', style='height: 0px;')
                                        .panel-content
                                            p
                                                | 學生於開課日前三十日內提出退費申請者，退還當期開班約定繳納費用總額百分之九十。
                                .panel
                                    .panel-title
                                        a.collapsed(data-parent='#accordion1', data-toggle='collapse', href='#accordion13', aria-expanded='false')
                                            span.open-sub
                                            strong Q. 於開課日起至第十日前申請退費，應退還多少呢？
                                    #accordion13.panel-collapse.collapse(role='tablist', aria-expanded='false')
                                        .panel-content
                                            p
                                                | 學生於實際開課日起至第十日前，且未逾全期（或總課程時數）三分之一期間內提出退費申請者，退還當期開班約定繳納費用總額百分之八十。
                                .panel
                                    .panel-title
                                        a.collapsed(data-parent='#accordion1', data-toggle='collapse', href='#accordion14', aria-expanded='false')
                                            span.open-sub
                                            strong Q. 於實際開課日第十日起且未逾全期（或總課程時數）三分之一期間申請退費，應退還多少呢？
                                    #accordion14.panel-collapse.collapse(role='tablist', aria-expanded='false')
                                        .panel-content
                                            p
                                                | 學生於實際開課日第十日起且未逾全期（或總課程時數）三分之一期間內提出退費申請者，退還約定繳納費用總額百分之六十。
                                .panel
                                    .panel-title
                                        a.collapsed(data-parent='#accordion1', data-toggle='collapse', href='#accordion15', aria-expanded='false')
                                            span.open-sub
                                            strong Q. 於全期（或總課程時數）三分之一以上且未逾全期(或總課程時數)二分之一期間申請退費，應退還多少呢？
                                    #accordion15.panel-collapse.collapse(role='tablist', aria-expanded='false')
                                        .panel-content
                                            p
                                                | 學生於全期（或總課程時數）三分之一以上且未逾全期(或總課程時數)二分之一期間內提出退費申請 者，退還約定繳納費用總額百分之四十。
                                .panel
                                    .panel-title
                                        a.collapsed(data-parent='#accordion1', data-toggle='collapse', href='#accordion14', aria-expanded='false')
                                            span.open-sub
                                            strong Q. 於全期（或總課程時數）二分之一以上提出退費申請者，應退還多少呢？
                                    #accordion14.panel-collapse.collapse(role='tablist', aria-expanded='false')
                                        .panel-content
                                            p
                                                | 學生於全期（或總課程時數）二分之一以上提出退費申請者，所收取之當期費用得全數不予退還。
                                .panel
                                    .panel-title
                                        a.collapsed(data-parent='#accordion1', data-toggle='collapse', href='#accordion14', aria-expanded='false')
                                            span.open-sub
                                            strong Q. 關於報名費、訂位金或其他收費項目該如何辦理呢？
                                    #accordion14.panel-collapse.collapse(role='tablist', aria-expanded='false')
                                        .panel-content
                                            p
                                                | 第一項約定繳納費用總額，不得扣除補習班訂定之報名費、訂位金或其他收費項目。 補習班所收取之代辦費應全額退還。但已購置成品者，發給成品。
        
        // end main-content

block script
