extends L2_layout_kr
block title
    title OoPs Language Center
    title #{title}
block style

block content
    // Start main-content
    .main-content
        // Section: inner-header
        section.inner-header.divider.parallax.layer-overlay.overlay-dark-8(data-bg-img="https://placehold.it/1920x1280")
            .container.pt-60.pb-60
                // Section Content
                .section-content
                    .row
                        .col-md-12.text-center
                            h3.font-28.text-white
                                | 活動公告
                                ol.breadcrumb.text-center.text-black.mt-10
                                    li
                                        a.text-white(href="#") Home
                                    li
                                        a.text-white(href="#") Pages
                                    li.active.text-white Page Title
        section#cd-timeline.cd-container.mt-100.mb-100
            .cd-timeline-block
                .cd-timeline-img.cd-picture
                    img(src="../js/vertical-timeline/img/cd-icon-picture.svg" alt="Picture")
                // cd-timeline-img
                .cd-timeline-content
                    article.post.clearfix
                        .entry-header
                            .post-thumb
                                img.img-fullwidth.img-responsive(alt="" src="https://placehold.it/900x500")
                            h5.entry-title
                                a(href="#") Single Image Post
                            ul.list-inline.font-12.mb-20.mt-10
                                li
                                    | posted by 
                                    a.text-theme-colored(href="#") Admin |
                                li
                                    span.text-theme-colored SEP 12,15
                        .entry-content
                            p.mb-30
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores sit nobis magni incidunt eos quasi et excepturi, animi omnis velit, deserunt ratione eum dolorem ducimus ab quidem saepe, natus earum facilis voluptate molestias quos nisi. Beatae in saepe velit nisi sapiente ullam nihil. Laboriosam repellat deleniti voluptate maiores consectetur debitis 
                                a(href="#") [...]
                            ul.list-inline.like-comment.pull-left.font-12
                                li
                                    i.pe-7s-comment
                                    | 36
                                li
                                    i.pe-7s-like2
                                    | 125
                            a.pull-right.text-gray.font-13(href="#")
                                i.fa.fa-angle-double-right.text-theme-colored
                                |  Read more
                // cd-timeline-content
            // cd-timeline-block
            .cd-timeline-block
                .cd-timeline-img.cd-movie
                    img(src="../js/vertical-timeline/img/cd-icon-movie.svg" alt="Movie")
                // cd-timeline-img
                .cd-timeline-content
                    article.post.clearfix
                        .entry-header
                            h5.entry-title.mt-0.pt-0
                                a(href="#") Text Post
                            ul.list-inline.font-12.mb-20.mt-10
                                li
                                    | posted by 
                                    a.text-theme-colored(href="#") Admin |
                                li
                                    span.text-theme-colored SEP 12,15
                        .entry-content
                            p.mb-30
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores sit nobis magni incidunt eos quasi et excepturi, animi omnis velit, deserunt ratione eum dolorem ducimus ab quidem saepe, natus earum facilis voluptate molestias quos nisi. Beatae in saepe velit nisi sapiente ullam nihil. Laboriosam repellat deleniti voluptate maiores consectetur debitis 
                                a(href="#") [...]
                            ul.list-inline.like-comment.pull-left.font-12
                                li
                                    i.pe-7s-comment
                                    | 36
                                li
                                    i.pe-7s-like2
                                    | 125
                            a.pull-right.text-gray.font-13(href="#")
                                i.fa.fa-angle-double-right.text-theme-colored
                                |  Read more
                // cd-timeline-content
            // cd-timeline-block
            .cd-timeline-block
                .cd-timeline-img.cd-picture
                    img(src="../js/vertical-timeline/img/cd-icon-picture.svg" alt="Picture")
                // cd-timeline-img
                .cd-timeline-content
                    article.post.clearfix
                        .entry-header
                            .post-thumb
                                iframe(src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/167425759&auto_play=false&hide_related=true&show_comments=true&show_user=false&show_reposts=false&visual=false")
                            h5.entry-title
                                a(href="#") Sound Cloud Post 
                            ul.list-inline.font-12.mb-20.mt-10
                                li
                                    | posted by 
                                    a.text-theme-colored(href="#") Admin |
                                li
                                    span.text-theme-colored SEP 12,15
                        .entry-content
                            p.mb-30
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores sit nobis magni incidunt eos quasi et excepturi, animi omnis velit, deserunt ratione eum dolorem ducimus ab quidem saepe, natus earum facilis voluptate molestias quos nisi. Beatae in saepe velit nisi sapiente ullam nihil. Laboriosam repellat deleniti voluptate maiores consectetur debitis 
                                a(href="#") [...]
                            ul.list-inline.like-comment.pull-left.font-12
                                li
                                    i.pe-7s-comment
                                    | 36
                                li
                                    i.pe-7s-like2
                                    | 125
                            a.pull-right.text-gray.font-13(href="#")
                                i.fa.fa-angle-double-right.text-theme-colored
                                |  Read more
                // cd-timeline-content
            // cd-timeline-block
            .cd-timeline-block
                .cd-timeline-img.cd-location
                    img(src="../js/vertical-timeline/img/cd-icon-location.svg" alt="Location")
                // cd-timeline-img
                .cd-timeline-content
                    article.post.clearfix
                        .entry-header
                            .post-thumb
                                iframe(src="https://player.vimeo.com/video/277826934" width="360" height="205" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
                            h5.entry-title
                                a(href="#") Vimeo Video Post 
                            ul.list-inline.font-12.mb-20.mt-10
                                li
                                    | posted by 
                                    a.text-theme-colored(href="#") Admin |
                                li
                                    span.text-theme-colored SEP 12,15
                        .entry-content
                            p.mb-30
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores sit nobis magni incidunt eos quasi et excepturi, animi omnis velit, deserunt ratione eum dolorem ducimus ab quidem saepe, natus earum facilis voluptate molestias quos nisi. Beatae in saepe velit nisi sapiente ullam nihil. Laboriosam repellat deleniti voluptate maiores consectetur debitis 
                                a(href="#") [...]
                            ul.list-inline.like-comment.pull-left.font-12
                                li
                                    i.pe-7s-comment
                                    | 36
                                li
                                    i.pe-7s-like2
                                    | 125
                            a.pull-right.text-gray.font-13(href="#")
                                i.fa.fa-angle-double-right.text-theme-colored
                                |  Read more
                // cd-timeline-content
            // cd-timeline-block
            .cd-timeline-block
                .cd-timeline-img.cd-location
                    img(src="../js/vertical-timeline/img/cd-icon-location.svg" alt="Location")
                // cd-timeline-img
                .cd-timeline-content
                    article.post.clearfix
                        .entry-header
                            .post-thumb
                                iframe(width="600" height="340" src="https://www.youtube.com/embed/lCOF9LN_Zxs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="")
                            h5.entry-title
                                a(href="#") Youtube Video Post 
                            ul.list-inline.font-12.mb-20.mt-10
                                li
                                    | posted by 
                                    a.text-theme-colored(href="#") Admin |
                                li
                                    span.text-theme-colored SEP 12,15
                        .entry-content
                            p.mb-30
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores sit nobis magni incidunt eos quasi et excepturi, animi omnis velit, deserunt ratione eum dolorem ducimus ab quidem saepe, natus earum facilis voluptate molestias quos nisi. Beatae in saepe velit nisi sapiente ullam nihil. Laboriosam repellat deleniti voluptate maiores consectetur debitis 
                                a(href="#") [...]
                            ul.list-inline.like-comment.pull-left.font-12
                                li
                                    i.pe-7s-comment
                                    | 36
                                li
                                    i.pe-7s-like2
                                    | 125
                            a.pull-right.text-gray.font-13(href="#")
                                i.fa.fa-angle-double-right.text-theme-colored
                                |  Read more
                // cd-timeline-content
            // cd-timeline-block
            .cd-timeline-block
                .cd-timeline-img.cd-movie
                    img(src="../js/vertical-timeline/img/cd-icon-movie.svg" alt="Movie")
                // cd-timeline-img
                .cd-timeline-content
                    article.post.clearfix
                        .entry-header
                            h5.entry-title.mt-0.pt-0
                                a(href="#") Quotation Post
                            ul.list-inline.font-12.mb-20.mt-10
                                li
                                    | posted by 
                                    a.text-theme-colored(href="#") Admin |
                                li
                                    span.text-theme-colored SEP 12,15
                        .entry-content
                            .display-block
                                blockquote.gray
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo eligendi quibusdam doloremque necessitatibus doloribus blanditiis, praesentium ex error aliquid? Corporis dolores consequuntur cupiditate.
                                    footer
                                        | Someone famous in 
                                        cite(title="Source Title") Source Title
                            ul.list-inline.like-comment.pull-left.font-12.mt-30
                                li
                                    i.pe-7s-comment
                                    | 36
                                li
                                    i.pe-7s-like2
                                    | 125
                // cd-timeline-content
            // cd-timeline-block
            .cd-timeline-block
                .cd-timeline-img.cd-movie
                    img(src="../js/vertical-timeline/img/cd-icon-movie.svg" alt="Movie")
                // cd-timeline-img
                .cd-timeline-content
                    article.post.clearfix
                        .entry-header
                            .post-thumb
                                .owl-carousel-1col
                                    .item
                                        img(src="https://placehold.it/900x500" alt="")
                                    .item
                                        img(src="https://placehold.it/900x500" alt="")
                                    .item
                                        img(src="https://placehold.it/900x500" alt="")
                            h5.entry-title
                                a(href="#") Images Carousel Post
                            ul.list-inline.font-12.mb-20.mt-10
                                li
                                    | posted by 
                                    a.text-theme-colored(href="#") Admin |
                                li
                                    span.text-theme-colored SEP 12,15
                        .entry-content
                            p.mb-30
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua 
                                a(href="#") [...]
                            ul.list-inline.like-comment.pull-left.font-12
                                li
                                    i.pe-7s-comment
                                    | 36
                                li
                                    i.pe-7s-like2
                                    | 125
                            a.pull-right.text-gray.font-13(href="#")
                                i.fa.fa-angle-double-right.text-theme-colored
                                |  Read more
                // cd-timeline-content
            // cd-timeline-block
            .cd-timeline-block
                .cd-timeline-img.cd-movie
                    img(src="../js/vertical-timeline/img/cd-icon-movie.svg" alt="Movie")
                // cd-timeline-img
                .cd-timeline-content
                    article.post.clearfix
                        .entry-content
                            div
                                a.post-link.text-center.text-white.bg-theme-colored.display-block.font-20.p-30.mb-30(href="#")
                                    | kodesolution.com
                                    br
                                    span.font-13 https://kodesolution.com
                            ul.list-inline.like-comment.pull-left.font-12
                                li
                                    i.pe-7s-comment
                                    | 36
                                li
                                    i.pe-7s-like2
                                    | 125
                // cd-timeline-content
            // cd-timeline-block
    // end main-content
    // end wrapper

block script

