extends L2_layout_kr
block title
    title OoPs Language Center
    title #{title}
block style
    style.
        #top-img {background-position: 0 px; background-attachment: initial;}
        #top-banner{
            width:100%;
        }
 
        
block content
    // Start main-content
    .main-content
        // Section: inner-header section.inner-header.divider.parallax(data-bg-img="../../images/kr-index/course/韓語課程上方banner.jpg")
        section
            //img.img-fullwidth-top(alt="韓語免費聽" src="../../images/kr-index/course/韓語課程上方banner.jpg")
            picture
                source(srcset='../../images/kr-index/course/韓語課程上方banner_1903x240-01.jpg', media='(min-width: 992px)')
                source(srcset='../../images/kr-index/course/韓語課程上方banner_1903x240-01.jpg', media='(max-width: 576px)')
                source(srcset='../../images/kr-index/course/韓語課程上方banner_1903x240-01.jpg', media='(max-width: 768px)')
                img#top-banner(src='../../images/kr-index/course/韓語課程上方banner_1903x240-01.jpg', alt='韓語課程上方banner_default image')
        //
            .container.pt-70.pb-20
                // Section Content
                .section-content
                    .row
                        .col-md-12
                            h2.title.text-white.text-center
                            ol.breadcrumb.text-left.text-black.mt-10
                                li
                                    a(href="")
                                //li
                                    a(href="")
                                //li.active.text-gray-silver
        // Section: Course list
        section
            .container
                .row
                    .col-md-9.blog-pull-right
                        .grid
                            .element-item.free(data-category='free')   
                                .row.mb-15
                                    .col-sm-6.col-md-4
                                        .thumb
                                            img.img-fullwidth(alt="韓語免費聽" src="../../images/kr-index/course/韓語免費聽.jpg")
                                            //img.img-fullwidth(alt="featured project" src="https://placehold.it/262x210")
                                    .col-sm-6.col-md-8
                                        h4.line-bottom-oops.mt-0.mt-sm-20 韓語免費聽
                                        ul.review_text.list-inline
                                            li
                                                .star-rating(title="Rated 4.50 out of 5")
                                                    span(style="width: 90%;") 4.50
                                        p
                                            | 我們會在教學中呈現一系列基礎課程內容，從21個母音、14個基本子音、5個重音子音、收尾音…等，依序介紹，同時帶入生活化的互動方式，讓學習更有趣。發音教學結束後，會接軌『TOPIK韓國語文檢定考試』第一級課程，輔導同學以通過檢定考試為目標，除了增強韓語能力，也增加國際競爭力！
                                        a.btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 所有開班時間
                                        a(style="margin-left:10px;").btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 詳細介紹
                                hr
                            .element-item.regular(data-category='regular')   
                                .row.mb-15
                                    .col-sm-6.col-md-4
                                        .thumb
                                            img.img-fullwidth(alt="韓語正規班" src="../../images/kr-index/course/正規班/韓語正規班.jpg")
                                            //img.img-fullwidth(alt="featured project" src="https://placehold.it/262x210")
                                    .col-sm-6.col-md-8
                                        h4.line-bottom-oops.mt-0.mt-sm-20 韓語正規班
                                        ul.review_text.list-inline
                                            li
                                                .star-rating(title="Rated 4.50 out of 5")
                                                    span(style="width: 90%;") 4.50
                                        p
                                            | 依據韓語TOPIK檢定考試層級，循序漸進設計課程內容。同步使用韓國最新教材，加入教師自編講義引導學員循序漸進學習韓語，扎實學好韓語能力，進而接軌全世界。
                                        a.btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 所有開班時間
                                        a(style="margin-left:10px;").btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 詳細介紹
                                hr
                                br
                            .element-item.conversation(data-category='conversation') 
                                .row.mb-15
                                    .col-sm-6.col-md-4
                                        .thumb
                                            img.img-fullwidth(alt="韓語會話班" src="../../images/kr-index/course/會話班/韓語會話班.jpg")
                                    .col-sm-6.col-md-8
                                        h4.line-bottom-oops.mt-0.mt-sm-20 韓語會話班
                                        ul.review_text.list-inline
                                            li
                                                .star-rating(title="Rated 4.50 out of 5")
                                                    span(style="width: 90%;") 4.50
                                        p
                                            | 在正規班的韓語基礎上，進而透過貼近生活情境的各種主題，以實戰會話方式，讓學生嘗試使用學過的韓語，透過韓語表達自己的意見和想法。進而提升實戰韓語會話能力。
                                        a.btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 所有開班時間
                                        a(style="margin-left:10px;").btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 詳細介紹
                                hr
                                br
                            .element-item.concentration(data-category='concentration') 
                                .row.mb-15
                                    .col-sm-6.col-md-4
                                        .thumb
                                            img.img-fullwidth(alt="韓檢對策班" src="../../images/kr-index/course/韓檢對策班.jpg")
                                    .col-sm-6.col-md-8
                                        h4.line-bottom-oops.mt-0.mt-sm-20 韓檢對策班
                                        ul.review_text.list-inline
                                            li
                                                .star-rating(title="Rated 4.50 out of 5")
                                                    span(style="width: 90%;") 4.50
                                        p
                                            | 由專業教師深入研究韓語檢定TOPIK考試，從中獲得的解題心得以及答題技巧，傾囊相授給準備韓語TOPIK檢定的學員，透過綿密的考題解析來共同致勝韓語考試。
                                        a.btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 所有開班時間
                                        a(style="margin-left:10px;").btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 詳細介紹
                                hr
                                br
                            .element-item.business(data-category='business') 
                                .row.mb-15
                                    .col-sm-6.col-md-4
                                        .thumb
                                            img.img-fullwidth(alt="商用韓語班" src="../../images/kr-index/course/商用韓語/商用韓語班.jpg")
                                    .col-sm-6.col-md-8
                                        h4.line-bottom-oops.mt-0.mt-sm-20 商用韓語班
                                        ul.review_text.list-inline
                                            li
                                                .star-rating(title="Rated 4.50 out of 5")
                                                    span(style="width: 90%;") 4.50
                                        p
                                            | 為加速市場結合，特開設商用韓語課程。除了提升韓語會話能力以外，課程更強調與韓國企業合作、協調溝通、翻譯等專業性的接軌。欲參加該課程者須至少具備TOPIK4級程度以上較佳。
                                        a.btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 所有開班時間
                                        a(style="margin-left:10px;").btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 詳細介紹
                                hr
                                br
                            .element-item.personal(data-category='personal') 
                                .row.mb-15
                                    .col-sm-6.col-md-4
                                        .thumb
                                            img.img-fullwidth(alt="韓語個別班" src="../../images/kr-index/course/韓語個別班.jpg")
                                    .col-sm-6.col-md-8
                                        h4.line-bottom-oops.mt-0.mt-sm-20 韓語個別班
                                        ul.review_text.list-inline 
                                            li
                                                .star-rating(title="Rated 4.50 out of 5")
                                                    span(style="width: 90%;") 4.50
                                        p
                                            | Oops所開設的韓語1對1個人專班是依照不同程度與級別之學員，提供1對1的指導課程。與團體班最大不同在於可依照學員吸收程度與欲學習領域之不同，提供專業輔導、課程的快慢進度亦依照學員吸收能力而定。
                                        a.btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 所有開班時間
                                        a(style="margin-left:10px;").btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 詳細介紹
                                hr
                                br 
                            .element-item.intensive(data-category='intensive') 
                                .row.mb-15
                                    .col-sm-6.col-md-4
                                        .thumb
                                            img.img-fullwidth(alt="寒暑假密集班" src="../../images/kr-index/course/寒暑假密集班.jpg")
                                    .col-sm-6.col-md-8
                                        h4.line-bottom-oops.mt-0.mt-sm-20 寒暑假密集班
                                        ul.review_text.list-inline
                                            li
                                                .star-rating(title="Rated 4.50 out of 5")
                                                    span(style="width: 90%;") 4.50
                                        p
                                            | 針對寒、暑假期間開設韓語短期2-10周密集課程，不僅假期能放得開心愉快、更能透過Oops所提供的韓語線上結合線下的密集訓練，滿足求知慾滿點的學員們。
                                        a.btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 所有開班時間
                                        a(style="margin-left:10px;").btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 詳細介紹
                                hr
                                br
                            .element-item.abroad(data-category='abroad') 
                                .row.mb-15
                                    .col-sm-6.col-md-4
                                        .thumb
                                            img.img-fullwidth(alt="留遊學先修班" src="../../images/kr-index/course/留遊學先修班.jpg")
                                    .col-sm-6.col-md-8
                                        h4.line-bottom-oops.mt-0.mt-sm-20 留遊學先修班
                                        ul.review_text.list-inline  
                                            li
                                                .star-rating(title="Rated 4.50 out of 5")
                                                    span(style="width: 90%;") 4.50
                                        p
                                            | 目前台灣學員赴韓國進修高等教育課程的人數約262名。為此，針對未來欲赴韓國進修之學員，提供每周2-5次的留遊學進修專班，讓韓語學習能夠無縫接軌國際。
                                        a.btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 所有開班時間
                                        a(style="margin-left:10px;").btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 詳細介紹
                                hr
                                br
                            .element-item.workingHoliday(data-category='workingHoliday') 
                                .row.mb-15
                                    .col-sm-6.col-md-4
                                        .thumb
                                            img.img-fullwidth(alt="打工度假先修班" src="../../images/kr-index/course/打工度假先修班.jpg")
                                    .col-sm-6.col-md-8
                                        h4.line-bottom-oops.mt-0.mt-sm-20 打工度假先修班
                                        ul.review_text.list-inline
                                            li
                                                .star-rating(title="Rated 4.50 out of 5")
                                                    span(style="width: 90%;") 4.50
                                        p
                                            | 根據韓國駐台灣代表部提供之資料顯示，目前韓國提供給台灣18-30歲青年每年800名參與韓國打工度假計畫。赴韓前多數台灣學員選擇參加短期韓國課程進修、減少赴韓後生活上的種種挑戰。
                                        a.btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 所有開班時間
                                        a(style="margin-left:10px;").btn.btn-dark.btn-theme-colored.btn-sm.text-uppercase.mt-10(href="page-courses-accounting-technologies.html") 詳細介紹
                                hr
                                br
                    .col-md-3
                        .sidebar.sidebar-left.mt-sm-30
                            .widget
                                h5.widget-title.line-bottom-oops
                                    | Search 
                                    span.text-theme-color-2 Courses
                                .search-form
                                    form
                                        .input-group
                                            input.form-control.search-input(type="text" placeholder="Click to Search")
                                            span.input-group-btn
                                                button.btn.search-button(type="submit")
                                                    i.fa.fa-search
                            .widget

                                h5.widget-title.line-bottom
                                    | Oops韓語 
                                    span.text-theme-color-2 課程
                                .categoriess
                                    .filter-button-group
                                        ul.list.list-border.angle-double-right
                                            li.oops-course.oops-active(data-filter='*' )
                                                 button.button(data-filter='*' )  
                                                    | 全部韓語課程
                                                    span (12)
                                            li.oops-course(data-filter='oops.free')
                                                 button.button(data-filter='.free')
                                                    | 韓語免費聽
                                                    span (19)
                                            li.oops-course(data-filter='oops.regular')
                                                 button.button(data-filter='.regular')
                                                    | 韓語正規班
                                                    span (21)
                                            li.oops-course(data-filter='oops.conversation')
                                                 button.button(data-filter='.conversation')
                                                    | 韓語會話班
                                                    span (15)
                                            li.oops-course(data-filter='oops.concentration')
                                                 button.button(data-filter='.concentration' )
                                                    | 韓檢對策班
                                                    span (35)
                                            li.oops-course(data-filter='oops.business')
                                                 button.button(data-filter='.business')
                                                    | 商用韓語班
                                                    span (16)
                                            li.oops-course(data-filter='oops.personal')
                                                 button.button(data-filter='.personal' )
                                                    | 韓語個別班
                                                    span (35)
                                            li.oops-course(data-filter='oops.intensive')
                                                 button.button(data-filter='.intensive')
                                                    | 寒暑假密集班
                                                    span (16)
                                            li.oops-course(data-filter='oops.abroad')
                                                 button.button(data-filter='.abroad')
                                                    | 留遊學先修班
                                                    span (16)
                                            li.oops-course(data-filter='oops.workingHoliday')
                                                 button.button(data-filter='.workingHoliday')
                                                    | 打工度假先修班
                                                    span (16)
                                            li.oops-course(data-filter='oops.dispatch')
                                                 button.button(data-filter='.dispatch')
                                                    | 企業學校派遣
                                                    span (16)
                                               
                            .widget
                                h5.widget-title.line-bottom-oops
                                    | 最新 
                                    span.text-theme-color-2 消息
                                .latest-posts
                                    article.post.media-post.clearfix.pb-0.mb-10
                                        a.post-thumb(href="https://line.me/R/ti/p/%40xat.0000116750.rxi")
                                            img(src="../../images/kr-index/course/最新消息/左側正方形小圖_留遊學諮詢_75x75-01.jpg" alt="")
                                        .post-right
                                            h5.post-title.mt-0
                                                a(href="https://line.me/R/ti/p/%40xat.0000116750.rxi") 免費留遊學諮詢
                                            p 想出國卻不知從何開始，免費諮詢解惑...
                                    article.post.media-post.clearfix.pb-0.mb-10
                                        a.post-thumb(href="https://line.me/R/ti/p/%40xat.0000116750.rxi")
                                            img(src="../../images/kr-index/course/最新消息/左側正方形小圖_線上課程_75x75-01.jpg" alt="")
                                        .post-right
                                            h5.post-title.mt-0
                                                a(href="https://line.me/R/ti/p/%40xat.0000116750.rxi") 美日韓線上課
                                            p 線上課程開跑，解決距離的限制...
                                    article.post.media-post.clearfix.pb-0.mb-10
                                        a.post-thumb(href="https://www.facebook.com/ilovemusashi")
                                            img(src="../../images/kr-index/course/最新消息/左側正方形小圖_FB小教室_75x75-01.jpg" alt="")
                                        .post-right
                                            h5.post-title.mt-0
                                                a(href="https://www.facebook.com/ilovemusashi") 美日韓小教室
                                            p 每週固定時間，我們會在FB分享美日韓小教學...
                            .widget
                                h5.widget-title.line-bottom-oops
                                    | Photos 
                                    span.text-theme-color-2 from Oops IG
                                #flickr-feed.clearfix
                                    // Flickr Link
                                    script(type="text/javascript" src="https://www.instagram.com/oops.top/")
                //.row
                    .col-sm-12
                        nav
                            ul.pagination.xs-pull-center.m-0
                                li
                                    a(href="#" aria-label="Previous")
                                        span(aria-hidden="true") «
                                li.active
                                    a(href="#") 1
                                li
                                    a(href="#") 2
                                li
                                    a(href="#") 3
                                li
                                    a(href="#") 4
                                li
                                    a(href="#") 5
                                li
                                    a(href="#") ...
                                li
                                    a(href="#" aria-label="Next")
                                        span(aria-hidden="true") »
    // end main-content
block script
    script(src='https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js')
    script.
        // external js: isotope.pkgd.js
         // filter functions unused
        var filterFns = {
            // show if number is greater than 50
            numberGreaterThan50: function() {
                var number = $(this).find('.number').text();
                return parseInt( number, 10 ) > 50;
            },
            // show if name ends with -ium
            ium: function() {
                var name = $(this).find('.name').text();
                return name.match( /ium$/ );
            }
        };
         function getHashFilter() {
            // get filter=filterName
            var matches = location.hash.match( /filter=([^&]+)/i );
            var hashFilter = matches && matches[1];
            return hashFilter && decodeURIComponent( hashFilter );
        }
         // init Isotope
        var $grid = $('.grid');
         // bind filter button click
        var $filterButtonGroup = $('.filter-button-group');
        //alert(filterButtonGroup);
        $filterButtonGroup.on( 'click', 'button', function() {
            var filterAttr = $( this ).attr('data-filter');
            
            // set filter in hash
            location.hash = 'filter=' + encodeURIComponent( filterAttr );
        });
         var isIsotopeInit = false;
         function onHashchange() {
            var hashFilter = getHashFilter();
            if ( !hashFilter && isIsotopeInit ) {
                return;
            }
            isIsotopeInit = true;
            // filter isotope
            $grid.isotope({
                itemSelector: '.element-item',
                layoutMode: 'fitRows',
                // use filterFns
                filter: filterFns[ hashFilter ] || hashFilter
            });
            // set selected class on button
            if ( hashFilter ) {
                $filterButtonGroup.find('.oops-active').removeClass('oops-active');
                $filterButtonGroup.find('[data-filter="oops' + hashFilter + '"]').addClass('oops-active');
                //this.className += " oops-active";
            }
        }
         $(window).on( 'hashchange', onHashchange );
         // trigger event handler to init Isotope
        onHashchange();
