extends ../layout
block title
    title 武藏外語教育中心
block style
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/styles.css')
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    style.
        * 
        {
            font-family: Microsoft JhengHei;
        }
        body {
            background: #CB769E;
        }
block script
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    
    script.
        (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));
        
        
        function jp_Abroad_Submit() {
            //alert("The form was submitted");
                MessengerExtensions.requestCloseBrowser(
                    function success() {
                        //alert("Close Successfully jp Abroad");
                    },
                    function error(err) {
                        //alert("jp Abroad ERR: " + err)
                    }

                );
        }
        window.extAsyncInit = function() {
            //alert("js sdk finished loading");
            MessengerExtensions.getContext('327862871063543', 
            function success(thread_context){
                //alert("Success: "+thread_context.psid);
                document.getElementById('fb_psid').value = thread_context.psid;
            },
            function error(err){
                //alert("Error: " + JSON.stringify(err));
            }
            );
        };
        function typeCheck(that) {
            if (that.value == "語言學校") {
                document.getElementById("ifLangSchool").style.display = "flex";
            } 
            else if(that.value == "true")
            {
                document.getElementById("confirmed").style.display = "flex";
            }
            else{
                document.getElementById("ifLangSchool").style.display = "none";
                document.getElementById("confirmed").style.display = "none";
            }
        }

block content
    .container
        form(method="POST", action="/abroad/jp" onsubmit="jp_Abroad_Submit()" )
            input(name="fb_psid" type="hidden" id="fb_psid" value="")
            input(name="country" type="hidden" id="country" value="日本")
            ul.flex-outer
                li
                    label 請問您預計要前往的區域是?
                    select(name='location', required='required' ,autocomplete="off")
                        option(value='' hidden)
                        option(value='尚未決定') 尚未決定
                        option(value='關東') 關東(東京、神奈川、琦玉、千葉)
                        option(value='關西') 關西(大阪、京都、神戶)
                        option(value='北海道') 北海道(札幌、惠庭)
                        option(value='中部地方') 中部地方(山梨、長野、名古屋)
                        option(value='九州') 九州(福岡、沖繩)
                li
                    label 請問您想就讀的學校類型是?
                    select(name='school_type', required='required' onchange="typeCheck(this);" ,autocomplete="off")
                        option(value='' hidden)
                        option(value='語言學校') 語言學校
                        option(value='專門學校') 專門學校
                        option(value='高中') 高中
                        option(value='大學') 大學
                        option(value='研究所') 研究所
                li
                    label 請問您預計什麼時候出發?
                    select(name='departure_time', required='required' ,autocomplete="off")
                        option(value='' hidden)
                        option(value='尚未決定') 尚未決定
                        option(value='1月') 1月
                        option(value='4月') 4月
                        option(value='7月') 7月
                        option(value='10月') 10月
                li#ifLangSchool(style='display: none;')
                    label 請問您預計在日本就讀多久?
                    select(name='study_length' ,autocomplete="off")
                        option(value='' hidden)
                        option(value='尚未決定') 尚未決定
                        option(value='3個月') 3個月
                        option(value='6個月') 6個月
                        option(value='1年') 1年
                        option(value='1.5年') 1.5年
                        option(value='2年') 2年
                li
                    label 請問武藏方便和您連絡的時間是？
                    select(name='contact_time', required='required' ,autocomplete="off")
                        option(value='' hidden)
                        option(value='平日上午') 平日上午(10:00-13:00)
                        option(value='平日下午') 平日下午 (13:00-18:00)
                        option(value='平日晚上') 平日晚上 (18:00-22:00)
                        option(value='假日上午') 假日上午 (10:00-13:00)
                        option(value='假日下午') 假日下午 (13:00-17:00)
                        option(value='上述時間以外') 上述時間以外
                        option(value='皆可') 皆可
                li
                    label 請問您有指定的學校嗎？
                    select(name='selected_school', required='required' onchange="typeCheck(this);" ,autocomplete="off")
                        option(value='' hidden)
                        option(value='false') 無
                        option(value='true') 有(請在下方填入您想申請的學校)
                li#confirmed(style='display: none;')
                    label 若您有指定的學校，請問該校的名稱是(選填)？
                    input( name="selected_school_name" type='text', placeholder='請輸入學校名稱' ,autocomplete="off")  
                li
                    label 請問您的姓名是？
                    input( name="name" type='text', placeholder='請輸入姓名', maxlength='8', required='required' ,autocomplete="off")
                li
                    label 請問您的電話是？
                    input( name="phone" type='number', placeholder='請輸入電話', maxlength='12', required='required' ,autocomplete="off")
                li
                    label 請問您的Line是？
                    input( name="lineID" type='text', placeholder='請輸入Line ID', maxlength='20', required='required' ,autocomplete="off")
                li
                    input#submit(type='submit', value='送出')