extends ../nav_layout
block title
    title #{title}
block style
    meta(http-equiv='content-type', content='text/html; charset=utf-8')

    meta(name='viewport', content='width=device-width, initial-scale=1')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500')
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/assets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/css/form-elements.css')
    link(rel='stylesheet', href='/assets/css/style.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // Favicon and touch icons
    link(rel='shortcut icon', href='/assets/ico/favicon.png')
    link(rel='stylesheet', href='/css/nav.css')
    style.
        * 
        {
            font-family: Microsoft JhengHei;

        }
        label{
            width: 30%;
        }
        input{
            width: 70%;
        }
        textarea {
            resize: none;
            width: 70%;
        }
        select{
            width: 70%;
            height: 35px;
        }
        body {
            transition: background-color .5s;
            background-image: url("../assets/img/backgrounds/1.jpg");
        }
        .col-sm-8>h1{
            margin-top: 50px;
        }

block script
   
    // jQuery library
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
    // Latest compiled JavaScript
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js", integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D", crossorigin="anonymous")
    //script(src='/assets/js/jquery-1.11.1.min.js')
    //script(src='/assets/bootstrap/js/bootstrap.min.js')
    //script(src='/assets/js/jquery.backstretch.min.js')
    script(src='/assets/js/scripts.js')
    script.
        function myDayOfWeek() {
            const myDate= new Date(document.getElementById('date').value)
            const days = ['週日', '週一', '週二', '週三', '週四', '週五', '週六'];
            const dayName = days[myDate.getUTCDay()];
            //console.log(dayName);
            document.getElementById('dayOfWeek').value = dayName;
        }
        $('document').ready(function(){
            var today = new Date();
            today = today.toISOString().split('T')[0];
            var max = new Date();
            max.setFullYear(max.getFullYear() + 1);   
            max = max.toISOString().split('T')[0];       
            document.getElementsByName("course_date")[0].setAttribute('min', today);
            document.getElementsByName("course_date")[0].setAttribute('max', max);

        });


block content
    .top-content
            .container
                .row
                    .col-sm-8.col-sm-offset-2.text
                        h1
                            |   武藏英語試聽課程後台
                            strong (非正式課程)
                .row
                    .col-sm-6.col-sm-offset-3.form-box
                        .form-top
                            .form-top-left
                                h3 新增英語試聽課程(非正式課程!)
                                p 請輸入試聽課程相關資料:
                            .form-top-right
                                i.fa.fa-lock
                        .form-bottom
                            form.login-form(role='form', action='/admin/add_eng_trial', method='post')
                                input(name="lang_type" type="hidden" value="英語")
                                .form-group
                                    label 課程內容 
                                    input(type='text', name='course_type', placeholder='課程內容' , required='required') 
                                .form-group
                                    label 適用對象
                                    input(type='text', name='level', placeholder='課程內容' , required='required') 
                                .form-group
                                    label 上課日期 
                                    input(type='date', name='course_date', id="date",  placeholder='開課日期' , required='required',onchange="myDayOfWeek()",min="" ,max="")
                                    input(name="dayOfWeek" type="hidden" id="dayOfWeek" value="")
                                .form-group
                                    label 開始時間 
                                    input(type='time', name='begin_time', placeholder='課程開始時間' , required='required' )
                                .form-group
                                    label 結束時間 
                                    input(type='time', name='end_time', placeholder='課程結束時間' , required='required' )
                                .form-group
                                    label 其他說明(選填) 
                                    //- input(type='text' name='content' placeholder='備註方式顯示給學生看' )
                                    textarea(name='content', placeholder='備註方式顯示給學生看' , autocomplete="off")
                                button.btn(type='submit') 送出
