extends ../nav_layout
block title
    title #{title}
block style
    meta(http-equiv='content-type', content='text/html; charset=utf-8')

    meta(name='viewport', content='width=device-width, initial-scale=1')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500')
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/assets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/css/form-elements.css')
    link(rel='stylesheet', href='/assets/css/style.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // Favicon and touch icons
    link(rel='shortcut icon', href='/assets/ico/favicon.png')
    link(rel='stylesheet', href='/css/nav.css')
    style.
        * 
        {
            font-family: Microsoft JhengHei;

        }
        label{
            width: 35%;
        }
        input{
            width: 65%;
        }
        select{
            width: 65%;
            height: 35px;
        }
        body {
            transition: background-color .5s;
            background-image: url("../assets/img/backgrounds/1.jpg");
        }
        textarea {
            resize: none;
            width: 65%;
        }
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 18px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }
block script
   
    // jQuery library
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
    // Latest compiled JavaScript
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js", integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D", crossorigin="anonymous")
    //script(src='/assets/js/jquery-1.11.1.min.js')
    //script(src='/assets/bootstrap/js/bootstrap.min.js')
    //script(src='/assets/js/jquery.backstretch.min.js')
    script(src='/assets/js/scripts.js')
    script.
        function myDayOfWeek() {
            const myDate= new Date(document.getElementById('date').value)
            const days = ['週日', '週一', '週二', '週三', '週四', '週五', '週六'];
            const dayName = days[myDate.getUTCDay()];
            //console.log(dayName);
            document.getElementById('dayOfWeek').value = dayName;
        }
        $('document').ready(function(){
            var today = new Date();
            today = today.toISOString().split('T')[0];
            var max = new Date();
            max.setFullYear(max.getFullYear() + 1);   
            max = max.toISOString().split('T')[0];       
            document.getElementsByName("course_date")[0].setAttribute('min', today);
            document.getElementsByName("course_date")[0].setAttribute('max', max);

        });

block content

    .top-content
            .container
                .row
                    .col-sm-8.col-sm-offset-2.text
                        h1
                            |   武藏韓語試聽課程後台
                            strong (非正式課程)
                .row
                    .col-sm-6.col-sm-offset-3.form-box
                        .form-top
                            .form-top-left
                                h3 新增韓語試聽課程(非正式課程!)
                                p 請輸入試聽課程相關資料:
                            .form-top-right
                                i.fa.fa-lock
                        .form-bottom
                            form.login-form(role='form', action='/admin/add_kr_trial', method='post')
                                input(name="lang_type" type="hidden" value="韓語")
                                .form-group
                                    label 課程內容 
                                    select(name='course_type' required='required' ,autocomplete="off")
                                        option(value='' hidden)
                                        option(value='韓語發音') 韓語發音
                                        option(value='韓語初級(TOPIK I Level 1)') 韓語初級(TOPIK I Level 1)
                                        option(value='韓語進階(TOPIK I Level 2)') 韓語進階(TOPIK I Level 2)
                                        option(value='韓語中級(TOPIK II Level 3)') 韓語中級(TOPIK II Level 3)
                                        option(value='韓語中高級(TOPIK II Level 4)') 韓語中高級(TOPIK II Level 4)
                                        option(value='韓語高級(TOPIK II Level 5)') 韓語高級(TOPIK II Level 5)
                                        option(value='韓語優級(TOPIK II Level 6)') 韓語優級(TOPIK II Level 6)

                                        option(value='韓語寒假密集班') 韓語寒假密集班
                                        option(value='韓語暑假密集班') 韓語暑假密集班
                                        option(value='商用韓語') 商用韓語
                                        option(value='韓語初級會話') 韓語初級會話
                                        option(value='韓語進階會話') 韓語進階會話
                                        option(value='韓語中級會話') 韓語中級會話
                                        option(value='韓語中高級會話') 韓語中高級會話
                                        option(value='韓語高級會話') 韓語高級會話
                                        option(value='韓語優級會話') 韓語優級會話
                                        
                                .form-group
                                    label 適用對象 
                                    select(name='level' required='required',autocomplete="off")
                                        option(value='' hidden)
                                        option(value='適合初學者') 適合初學者
                                        option(value='學過基礎發音') 學過基礎發音
                                        option(value='已具備TOPIK I Level 1程度') 已具備TOPIK I Level 1程度
                                        option(value='已具備TOPIK I Level 2程度') 已具備TOPIK I Level 2程度
                                        option(value='已具備TOPIK II Level 3程度') 已具備TOPIK II Level 3程度
                                        option(value='已具備TOPIK II Level 4程度') 已具備TOPIK II Level 4程度
                                        option(value='已具備TOPIK II Level 5程度') 已具備TOPIK II Level 5程度
                                .form-group
                                    label 上課日期 
                                    input(type='date', name='course_date', placeholder='開課日期' , required='required' id="date" onchange="myDayOfWeek()", min="", max="",autocomplete="off")
                                    input(name="dayOfWeek" type="hidden" id="dayOfWeek" value="")
                                .form-group
                                    label 開始時間 
                                    input(type='time', name='begin_time', placeholder='課程開始時間' , required='required' ,autocomplete="off")
                                .form-group
                                    label 結束時間 
                                    input(type='time', name='end_time', placeholder='課程結束時間' , required='required' ,autocomplete="off")
                                .form-group
                                    label 其他說明(選填) 
                                    //- input(type='text' name='content' placeholder='備註方式顯示給學生看' ,autocomplete="off")
                                    textarea(name='content', placeholder='備註方式顯示給學生看' ,autocomplete="off")
                                button.btn(type='submit') 送出
