extends ../nav_layout
block title
    title #{title}
block style
    meta(http-equiv='content-type', content='text/html; charset=utf-8')

    meta(name='viewport', content='width=device-width, initial-scale=1')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500')
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/assets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/css/form-elements.css')
    link(rel='stylesheet', href='/assets/css/style.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // Favicon and touch icons
    link(rel='shortcut icon', href='/assets/ico/favicon.png')
    link(rel='stylesheet', href='/css/nav.css')
    style.
        * 
        {
            font-family: Microsoft JhengHei;

        }
        label{
            width: 30%;
        }
        input,select{
            width: 70%;
        }
        textarea {
            resize: none;
            width: 70%;
        }
        select{
            height: 4.7vh;
        }
        body {
            transition: background-color .5s;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 18px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }
block script
    // jQuery library
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
    // Latest compiled JavaScript
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js", integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D", crossorigin="anonymous")
    //script(src='/assets/js/jquery-1.11.1.min.js')
    //script(src='/assets/bootstrap/js/bootstrap.min.js')
    script(src='/assets/js/jquery.backstretch.min.js')
    script(src='/assets/js/scripts.js')
    script.
        $('document').ready(function(){
            var today = new Date();
            today = today.toISOString().split('T')[0];
            var max = new Date();
            max.setFullYear(max.getFullYear() + 1);   
            max = max.toISOString().split('T')[0];       
            //document.getElementsByName("begin_date")[0].setAttribute('min', today);
            document.getElementsByName("begin_date")[0].setAttribute('max', max);
            //document.getElementsByName("end_date")[0].setAttribute('min', today);
            //document.getElementsByName("end_date")[0].setAttribute('max', max);
        });
        function myEndDate() {
            let begin_date = document.getElementById('begin_date').value;
            var max = new Date(begin_date);
            max.setFullYear(max.getFullYear() + 1); 
            max = max.toISOString().split('T')[0];  
            document.getElementsByName("end_date")[0].setAttribute('min', begin_date);
            document.getElementsByName("end_date")[0].setAttribute('max', max);

            const myBeginDate= new Date(document.getElementById('begin_date').value)
            const days = ['週日', '週一', '週二', '週三', '週四', '週五', '週六'];
            const beginDate = days[myBeginDate.getUTCDay()];
            //console.log(dayName);
            document.getElementById('begin_dayOfWeek').value = beginDate;
        }
        function myDayOfWeek() {
            const myEndDate= new Date(document.getElementById('end_date').value)
            const days = ['週日', '週一', '週二', '週三', '週四', '週五', '週六'];
            const endDate = days[myEndDate.getUTCDay()];
            //console.log(dayName);
            document.getElementById('end_dayOfWeek').value = endDate;
        }
        function addText()
        {
            document.getElementById("add_text").value= '3/10前完成繳費, 學費享9折優惠。\n3/11~3/20完成繳費, 學費95折優惠。\n3人以上團報 , 學費享85折優惠 ~ 限3/20 22:00前完成繳費。\n這個班已於2018/02/04開班。歡迎有興趣的同學插班就讀。';
        }
block content
    .top-content
            .container
                .row
                    .col-sm-8.col-sm-offset-2.text
                        h1
                            |   武藏韓語課程後台
                            strong (非試聽!)
                .row
                    .col-sm-6.col-sm-offset-3.form-box
                        .form-top
                            .form-top-left
                                h3 新增韓語課程(非試聽!)
                                p 請輸入韓語課程相關資料:
                            .form-top-right
                                i.fa.fa-lock
                        .form-bottom
                            form.login-form(role='form', action='/admin/add_kr_course', method='post')
                                input(name="lang_type" type="hidden" value="韓語")
                                .form-group
                                    label 課程名稱 
                                    //input(type='text', name='type', placeholder='課程名稱' , required='required')
                                    select(name='type' required='required' )
                                        option(value='' hidden)
                                        option(value='韓語發音') 韓語發音
                                        option(value='韓語初級(TOPIK I Level 1)') 韓語初級(TOPIK I Level 1)
                                        option(value='韓語進階(TOPIK I Level 2)') 韓語進階(TOPIK I Level 2)
                                        option(value='韓語中級(TOPIK II Level 3)') 韓語中級(TOPIK II Level 3)
                                        option(value='韓語中高級(TOPIK II Level 4)') 韓語中高級(TOPIK II Level 4)
                                        option(value='韓語高級(TOPIK II Level 5)') 韓語高級(TOPIK II Level 5)
                                        option(value='韓語優級(TOPIK II Level 6)') 韓語優級(TOPIK II Level 6)

                                        option(value='商用韓語') 商用韓語
                                        option(value='韓語初級會話') 韓語初級會話
                                        option(value='韓語進階會話') 韓語進階會話
                                        option(value='韓語中級會話') 韓語中級會話
                                        option(value='韓語中高級會話') 韓語中高級會話
                                        option(value='韓語高級會話') 韓語高級會話
                                        option(value='韓語優級會話') 韓語優級會話
                                        option(value='韓語寒假密集班') 韓語寒假密集班
                                        option(value='韓語暑假密集班') 韓語暑假密集班
                                
                                .form-group
                                    label 適合程度
                                    select(name='course_type' required='required')
                                        option(value='' hidden)
                                        option(value='適合初學者') 適合初學者
                                        option(value='學過基礎發音') 學過基礎發音
                                        option(value='已具備TOPIK I Level 1程度') 已具備TOPIK I Level 1程度
                                        option(value='已具備TOPIK I Level 2程度') 已具備TOPIK I Level 2程度
                                        option(value='已具備TOPIK II Level 3程度') 已具備TOPIK II Level 3程度
                                        option(value='已具備TOPIK II Level 4程度') 已具備TOPIK II Level 4程度
                                        option(value='已具備TOPIK II Level 5程度') 已具備TOPIK II Level 5程度

                                .form-group
                                    label 課程開始日期 
                                    input(type='date', name='begin_date', id='begin_date', placeholder='課程開始日期' , required='required' , min="", max="", onchange="myEndDate()")
                                    input(name="begin_dayOfWeek" type="hidden" id="begin_dayOfWeek" value="")
                                .form-group
                                    label 課程結束日期 
                                    input(type='date', name='end_date', id="end_date", placeholder='課程結束日期' , required='required', min="", max="" , onchange="myDayOfWeek()")
                                    input(name="end_dayOfWeek" type="hidden" id="end_dayOfWeek" value="")
                                .form-group
                                    label 課程開始時間 
                                    input(type='time', name='begin_time', placeholder='課程開始時間' , required='required')
                                .form-group
                                    label 課程結束時間 
                                    input(type='time', name='end_time', placeholder='課程結束時間' , required='required')
                                .form-group
                                    label 時間類別 
                                    select(name='time_type' required='required')
                                        option(value='' hidden)
                                        option(value='平日上午') 平日上午(10:00-13:00)
                                        option(value='平日下午') 平日下午 (13:00-18:00)
                                        option(value='平日晚上') 平日晚上 (18:00-22:00)
                                        option(value='假日上午') 假日上午 (10:00-13:00)
                                        option(value='假日下午') 假日下午 (13:00-17:00)
                                .form-group
                                    label 授課教師 
                                    //input(type='text', name='teacher_name', placeholder='授課教師' , required='required' ,autocomplete="off")
                                    select(name='teacher_name' required='required')
                                        option(value='' hidden )
                                        option(value='韓籍教師') 韓籍教師
                                        option(value='台籍教師') 台籍教師
                                        option(value='中外師聯合執教') 中外師聯合執教
                                .form-group
                                    label 最低開班人數
                                    select(name='min_students' required='required')
                                        option(value='' hidden)
                                        option(value='1人') 1人
                                        option(value='2人') 2人
                                        option(value='3人') 3人
                                        option(value='4人') 4人
                                        option(value='5人') 5人
                                        option(value='6人') 6人
                                        option(value='7人') 7人
                                        option(value='8人') 8人
                                        option(value='9人') 9人
                                        option(value='10人') 10人
                                        option(value='11人') 11人
                                        option(value='12人') 12人
                                        option(value='13人') 13人
                                        option(value='14人') 14人
                                        option(value='15人') 15人
                                .form-group
                                    label(onclick='addText()') 其他/費用說明
                                    //input(type='text', name='fee', placeholder='費用說明' , required='required' ,autocomplete="off")
                                    //input#inputBt(type='button', value='其他/費用說明', onclick='addText()')
                                    textarea#add_text(name='fee', required='required')
                                        | 3/10前完成繳費, 學費享9折優惠。3/11~3/20完成繳費, 學費95折優惠。
                                        | 3人以上團報 , 學費享85折優惠 ~ 限3/20 22:00前完成繳費。
                                        | 這個班已於2018/02/04開班。歡迎有興趣的同學插班就讀。

                                button.btn(type='submit') 送出
