extends L2_layout_jp
block title
    title OoPs Japanese
    title #{title}
block style


block content
    // Start main-content
    .main-content
        // Section: inner-header
        section.inner-header.divider.parallax.layer-overlay.overlay-dark-5(data-bg-img="https://placehold.it/1920x1280")
            .container.pt-70.pb-20
                // Section Content
                .section-content
                    .row
                        .col-md-12.text-center
                            h3.font-28.text-white
                                | 人才招募
                                ol.breadcrumb.text-center.text-black.mt-10
                                    li
                                        a(href="#") Home
                                    li
                                        a(href="#") Pages
                                    li.active.text-gray-silver Page Title
        section
            .container.pb-0
                .row.text-center
                    .col-sm-4
                        .icon-box.iconbox-border.iconbox-theme-colored.p-40
                            a.icon.icon-gray.icon-bordered.icon-border-effect.effect-flat(href="#")
                                i.pe-7s-users
                            h5.icon-box-title Finance Manager
                            p.text-gray
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non nulla placeat, odio, qui dicta alias.
                            a.btn.btn-dark.btn-sm.mt-15(href="#") Apply Now
                    .col-sm-4
                        .icon-box.iconbox-border.iconbox-theme-colored.p-40
                            a.icon.icon-gray.icon-bordered.icon-rounded.icon-border-effect.effect-rounded(href="#")
                                i.pe-7s-users
                            h5.icon-box-title Finance Manager
                            p.text-gray
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non nulla placeat, odio, qui dicta alias.
                            a.btn.btn-dark.btn-sm.mt-15(href="#") Apply Now
                    .col-sm-4
                        .icon-box.iconbox-border.iconbox-theme-colored.p-40
                            a.icon.icon-gray.icon-bordered.icon-circled.icon-border-effect.effect-circled(href="#")
                                i.pe-7s-users
                            h5.icon-box-title Finance Manager
                            p.text-gray
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non nulla placeat, odio, qui dicta alias.
                            a.btn.btn-dark.btn-sm.mt-15(href="#") Apply Now
        section
            .container.pt-0
                .row
                    .col-md-12
                        .heading-line-bottom.mt-0.mb-30
                            h4.heading-title Job List Style
                        .icon-box.mb-0.p-0
                            a.icon.icon-gray.pull-left.mb-0.mr-10(href="#")
                                i.pe-7s-users
                            h3.icon-box-title.pt-15.mt-0.mb-40 Finance Manager
                            hr
                            p.text-gray
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi id perspiciatis facilis nulla possimus quasi, amet qui. Ea rerum officia, aspernatur nulla neque nesciunt alias repudiandae doloremque, dolor, quam nostrum laudantium earum illum odio quasi excepturi mollitia corporis quas ipsa modi nihil, ad ex tempore.
                            a.btn.btn-dark.btn-sm.mt-15(href="#") Apply Now
                        .icon-box.mt-80.mb-0.p-0
                            a.icon.icon-gray.pull-left.mb-0.mr-10(href="#")
                                i.pe-7s-users
                            h3.icon-box-title.pt-15.mt-0.mb-40 Finance Manager
                            hr
                            p.text-gray
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi id perspiciatis facilis nulla possimus quasi, amet qui. Ea rerum officia, aspernatur nulla neque nesciunt alias repudiandae doloremque, dolor, quam nostrum laudantium earum illum odio quasi excepturi mollitia corporis quas ipsa modi nihil, ad ex tempore.
                            a.btn.btn-dark.btn-sm.mt-15(href="#") Apply Now
                        .icon-box.mt-80.mb-0.p-0
                            a.icon.icon-gray.pull-left.mb-0.mr-10(href="#")
                                i.pe-7s-users
                            h3.icon-box-title.pt-15.mt-0.mb-40 Finance Manager
                            hr
                            p.text-gray
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi id perspiciatis facilis nulla possimus quasi, amet qui. Ea rerum officia, aspernatur nulla neque nesciunt alias repudiandae doloremque, dolor, quam nostrum laudantium earum illum odio quasi excepturi mollitia corporis quas ipsa modi nihil, ad ex tempore.
                            a.btn.btn-dark.btn-sm.mt-15(href="#") Apply Now
    // end main-content

block script

