extends ./chatbot/nav_layout
block title
    title 武藏外語教育中心
block style
    meta(http-equiv='content-type', content='text/html; charset=utf-8')

    meta(name='viewport', content='width=device-width, initial-scale=1')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    //link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500')
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/css/form-elements.css')
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/style.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // Favicon and touch icons
    link(rel='shortcut icon', href='/assets/ico/favicon.png')
    link(rel='stylesheet', href='/css/nav.css')

    
block script
   
    // jQuery library
    //script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
    // Latest compiled JavaScript
    //script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js", integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D", crossorigin="anonymous")
    //script(src='/assets/js/jquery-1.11.1.min.js')
    //script(src='/assets/bootstrap/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

    //script(src='/assets/js/jquery.backstretch.min.js')
    //script(src='/assets/js/scripts.js')

    script.

block content
    .container
        .col-sm-6.col-sm-offset-3.form-box
            .form-bottom
                .login-form
                    .form-group
                        a(href="/abroad/report") 留遊學諮詢總表
                    .form-group
                        a(href="/course/report") 正式課程諮詢總表
                    .form-group
                        a(href="/trial/report") 試聽課程諮詢總表
                    hr
                    .form-group
                        a(href="/course/available") 正式課程開課總表
                    .form-group
                        a(href="/trial/available") 試聽課程開課總表
                    hr
                    .form-group
                        a(href="/admin/add_jp_course") 新增日語正式課程
                    .form-group
                        a(href="/admin/add_kr_course") 新增韓語正式課程
                    hr
                    .form-group
                        a(href="/admin/add_jp_trial") 新增日語試聽課程
                    .form-group
                        a(href="/admin/add_kr_trial") 新增韓語試聽課程
                    .form-group
                        a(href="/admin/add_eng_trial") 新增英語試聽課程
                    hr
                    .form-group
                        a(href="/course/jp") 日語正式課程FB預覽
                    .form-group
                        a(href="/trial/jp") 日語試聽課程FB預覽
                    .form-group
                        a(href="/abroad/jp") 日本留遊學諮詢FB預覽
                    .form-group
                        a(href="/course/kr") 韓語正式課程FB預覽
                    .form-group
                        a(href="/trial/kr") 韓語試聽課程FB預覽
                    .form-group
                        a(href="/abroad/kr") 韓國留遊學諮詢FB預覽
                    .form-group
                        a(href="/trial/eng") 英語試聽課程FB預覽
                    .form-group
                        a(href="/abroad/eng") 英語系留遊學諮詢FB預覽
                    hr
                    .form-group
                        a(href="/admin/logout") 登出


